.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u13393-4
{
	font-family: lato-n9, sans-serif;
}

#u13406-4
{
	font-family: lato-n9, sans-serif;
}

#u13399-5
{
	font-family: lato-n9, sans-serif;
}

#u15550.PamphletThumbSelected #u15551-4 p,#u15551-4
{
	font-family: lato-n9, sans-serif;
}

#u15533-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15535-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15525-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15528-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15542-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15186-4.MuseLinkActive p,#u15186-4
{
	font-family: lato-n4, sans-serif;
}

#u15192-4.MuseLinkActive p,#u15192-4
{
	font-family: lato-n4, sans-serif;
}

#u15198-4.MuseLinkActive p,#u15198-4
{
	font-family: lato-n4, sans-serif;
}

#u15203-6.MuseLinkActive p,#u15203-6
{
	font-family: lato-n4, sans-serif;
}

#u13468-7,#u15185-6,#u15193-6,#u15195-6,#u15200-6,#u15436-4
{
	font-family: lato-n3, sans-serif;
}

#u15515,#u15468
{
	font-family: yellowtail-n4, cursive;
}

#u15515-4,#u15514-4,#u15516-3,#u16358-4,#u16357-4,#u16356-4,#u15434.PamphletThumbSelected #u15436-4 p,#u15468-4,#u15470-4,#u15469-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u15444-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15463-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15455-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15459-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15450-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu15530_input,#widgetu15530_prompt,#widgetu15534_input,#widgetu15534_prompt,#widgetu15522_input,#widgetu15522_prompt,#widgetu15526_input,#widgetu15526_prompt,#widgetu15541_input,#widgetu15541_prompt,#widgetu15443_input,#widgetu15443_prompt,#widgetu15461_input,#widgetu15461_prompt,#widgetu15453_input,#widgetu15453_prompt,#widgetu15457_input,#widgetu15457_prompt,#widgetu15447_input,#widgetu15447_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u15519-4,#u15518-5,#u15440-4,#u15441-5
{
	font-family: open-sans-n8, sans-serif;
}

#u15518-2,#u15441-2
{
	font-family: open-sans-n6, sans-serif;
}

#u13546-6
{
	font-family: lato-n4, sans-serif;
}

#u13480-7
{
	font-family: lato-n3, sans-serif;
}

#u13480-3
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u13480-4
{
	font-family: josefin-slab-n3, serif;
}

#u7853-4,#u7855-4,#u7864-3,#u14734-4,#u14732-4,#u14733-3,#u14722-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u14731-4
{
	font-family: lato-n3, sans-serif;
}

#u14729-2,#u14729-3,#u14729-5,#u14729-6,#u14729-8,#u14729-9,#u14729-11,#u14729-12,#u7762-4
{
	font-family: lato-n4, sans-serif;
}

#u7768-4
{
	font-family: lato-n4, sans-serif;
}

#u7752-4
{
	font-family: lato-n4, sans-serif;
}

#u7774-4
{
	font-family: lato-n4, sans-serif;
}

#u14729-13,#u14729-15,#u7669-4
{
	font-family: lato-n9, sans-serif;
}

#u7848-4,#u7846-6,#u7865-3,#u7993-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u8004-4,#u8002-4,#u8003-3,#u7882-6,#u7883-4,#u7884-4,#u7885-3,#u7914-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u7995-4,#u7909-4,#u14366-8
{
	font-family: lato-n4, sans-serif;
}

#u16242-4,#u7856-4,#u16243-4,#u7886-6,#u8224-5
{
	font-family: lato-n7, sans-serif;
}

#u15493-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15490-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15500-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15484-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15504-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu15492_input,#widgetu15492_prompt,#widgetu15487_input,#widgetu15487_prompt,#widgetu15497_input,#widgetu15497_prompt,#widgetu15483_input,#widgetu15483_prompt,#widgetu15501_input,#widgetu15501_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u15479-4,#u15505-5
{
	font-family: open-sans-n8, sans-serif;
}

#u15505-2
{
	font-family: open-sans-n6, sans-serif;
}

#u7855,#u14734,#u7848,#u8004,#u7884,#u7887,#u8222,#u15507
{
	font-family: yellowtail-n4, cursive;
}

#u7912-8,#u7913-3,#u7879-4,#u7880-3,#u7887-4,#u8220-6,#u8222-4,#u8223-3,#u15507-4,#u15508-4,#u15509-3
{
	font-family: league-gothic-n4, sans-serif;
}

