.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u9522-4
{
	font-family: cardo-n4, serif;
}

#u9508-4
{
	font-family: cardo-n4, serif;
}

#u9514-5
{
	font-family: cardo-n4, serif;
}

#u15817-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u15807-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15793-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15803-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15798-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15812-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15226-4.MuseLinkActive p,#u15226-4
{
	font-family: lato-n4, sans-serif;
}

#u15232-4.MuseLinkActive p,#u15232-4
{
	font-family: lato-n4, sans-serif;
}

#u15238-4.MuseLinkActive p,#u15238-4
{
	font-family: lato-n4, sans-serif;
}

#u15243-6.MuseLinkActive p,#u15243-6
{
	font-family: lato-n4, sans-serif;
}

#u9529-7,#u15225-6,#u15233-6,#u15235-6,#u15240-6,#u15898-4
{
	font-family: lato-n3, sans-serif;
}

#u15816.PamphletThumbSelected #u15817-4 p,#u15786-4,#u15784-4,#u15936-4,#u15938-4
{
	font-family: cardo-n4, serif;
}

#u15785-3,#u16382-4,#u16381-4,#u16380-4,#u15896.PamphletThumbSelected #u15898-4 p,#u15937-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u15928-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15911-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15917-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15923-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15920-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu15805_input,#widgetu15805_prompt,#widgetu15791_input,#widgetu15791_prompt,#widgetu15801_input,#widgetu15801_prompt,#widgetu15797_input,#widgetu15797_prompt,#widgetu15810_input,#widgetu15810_prompt,#widgetu15926_input,#widgetu15926_prompt,#widgetu15910_input,#widgetu15910_prompt,#widgetu15914_input,#widgetu15914_prompt,#widgetu15922_input,#widgetu15922_prompt,#widgetu15918_input,#widgetu15918_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u15788-4,#u15814-5,#u15934-4,#u15908-5
{
	font-family: open-sans-n8, sans-serif;
}

#u15814-2,#u15908-2
{
	font-family: open-sans-n6, sans-serif;
}

#u19695-6
{
	font-family: lato-n4, sans-serif;
}

#u12439-7
{
	font-family: lato-n3, sans-serif;
}

#u12439-3
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u12439-4
{
	font-family: josefin-slab-n3, serif;
}

#u9487-6,#u9475-6,#u9349-8,#u9467-5,#u14310-6,#u9459-8
{
	font-family: bebas-neue-n4, sans-serif;
}

#u9373-4,#u9374-9,#u9420-13,#u14690-19
{
	font-family: lato-n4, sans-serif;
}

#u9372-4,#u14687-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u14684-4
{
	font-family: lato-n3, sans-serif;
}

#u9743-2,#u9754-2,#u9780-2,#u9814-2
{
	font-family: dosis-n5, sans-serif;
}

#u9743-4,#u9754-4,#u9780-4,#u9814-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

#u9745-16,#u9756-22,#u9782-19,#u9812-16
{
	font-family: sorts-mill-goudy-i5, serif;
}

#u15992-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15975-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15981-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15987-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15984-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu15990_input,#widgetu15990_prompt,#widgetu15974_input,#widgetu15974_prompt,#widgetu15978_input,#widgetu15978_prompt,#widgetu15986_input,#widgetu15986_prompt,#widgetu15982_input,#widgetu15982_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u15998-4,#u15972-5
{
	font-family: open-sans-n8, sans-serif;
}

#u15972-2
{
	font-family: open-sans-n6, sans-serif;
}

#u9600-4,#u14693-4,#u16001-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u9371-6,#u9417-6,#u14689-6,#u12267-6,#u9634-6,#u11737-4,#u11738-5,#u16000-4,#u16002-4,#u13233-13,#u13241-4,#u13244-4,#u13242-4,#u13243-4,#u13247-4,#u13250-4
{
	font-family: cardo-n4, serif;
}

