.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u14474-4
{
	font-family: lato-n9, sans-serif;
}

#u14483-4
{
	font-family: lato-n9, sans-serif;
}

#u14469-5
{
	font-family: lato-n9, sans-serif;
}

#u16419-4,#u16418-4,#u16417-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u19698-6
{
	font-family: lato-n4, sans-serif;
}

#u14629-7
{
	font-family: lato-n3, sans-serif;
}

#u14629-3
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u14629-4
{
	font-family: josefin-slab-n3, serif;
}

#u12450-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u13324-4
{
	font-family: amatic-sc-n7, sans-serif;
}

#u14273-7
{
	font-family: lato-n9, sans-serif;
}

#u14271-4
{
	font-family: lato-n4, sans-serif;
}

