.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u14020-4
{
	font-family: lato-n9, sans-serif;
}

#u14033-4
{
	font-family: lato-n9, sans-serif;
}

#u14026-5
{
	font-family: lato-n9, sans-serif;
}

#u14086.PamphletThumbSelected #u14087-4 p,#u14087-4
{
	font-family: lato-n9, sans-serif;
}

#u14061-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u14073-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u14077-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u14083-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u14068-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u14047-4,#u14046-4,#u14045-3,#u14180-4,#u14114-4,#u14119-4,#u15342.PamphletThumbSelected #u15344-4 p,#u15344-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u14047,#u15376
{
	font-family: yellowtail-n4, cursive;
}

#u15376-4,#u15378-4,#u15377-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u15352-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15371-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15363-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15367-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15358-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu14060_input,#widgetu14060_prompt,#widgetu14070_input,#widgetu14070_prompt,#widgetu14074_input,#widgetu14074_prompt,#widgetu14080_input,#widgetu14080_prompt,#widgetu14066_input,#widgetu14066_prompt,#widgetu15351_input,#widgetu15351_prompt,#widgetu15369_input,#widgetu15369_prompt,#widgetu15361_input,#widgetu15361_prompt,#widgetu15365_input,#widgetu15365_prompt,#widgetu15355_input,#widgetu15355_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u14084-4,#u14050-5,#u15348-4,#u15349-5
{
	font-family: open-sans-n8, sans-serif;
}

#u14050-2,#u15349-2
{
	font-family: open-sans-n6, sans-serif;
}

#u14173-6
{
	font-family: lato-n4, sans-serif;
}

#u14107-7
{
	font-family: lato-n3, sans-serif;
}

#u14107-3
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u14107-4
{
	font-family: josefin-slab-n3, serif;
}

#u18459-8,#u18459-10,#u18459-11,#u18459-12,#u18459-16,#u18462-4
{
	font-family: lato-n4, sans-serif;
}

#u18459-24
{
	font-family: lato-n9, sans-serif;
}

#u18459-17,#u18459-18,#u18459-19,#u18459-20,#u18459-21,#u18459-22,#u18459-26,#u18459-29,#u18459-30,#u18466-3,#u18466-5,#u18466-6,#u18466-7,#u18466-11,#u18469-4
{
	font-family: lato-n4, sans-serif;
}

#u18466-19
{
	font-family: lato-n7, sans-serif;
}

#u18466-12,#u18466-13,#u18466-14,#u18466-15,#u18466-16,#u18466-17,#u18466-21,#u18466-24,#u18466-25
{
	font-family: lato-n4, sans-serif;
}

#u18483-4,#u18453-4
{
	font-family: amatic-sc-n7, sans-serif;
}

#u18459-2,#u18459-7,#u18466-2,#u18593-6,#u18594-6,#u18615-6,#u18596-6
{
	font-family: lato-n3, sans-serif;
}

