.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u3295-4
{
	font-family: lato-n9, sans-serif;
}

#u3301-4
{
	font-family: lato-n9, sans-serif;
}

#u3316-5
{
	font-family: lato-n9, sans-serif;
}

#u15298.PamphletThumbSelected #u15299-4 p,#u15299-4
{
	font-family: lato-n9, sans-serif;
}

#u15308-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15322-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15313-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15317-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15329-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u5484-4.MuseLinkActive p,#u5484-4
{
	font-family: lato-n4, sans-serif;
}

#u5487-4.MuseLinkActive p,#u5487-4
{
	font-family: lato-n4, sans-serif;
}

#u5494-4.MuseLinkActive p,#u5494-4
{
	font-family: lato-n4, sans-serif;
}

#u5499-6.MuseLinkActive p,#u5499-6
{
	font-family: lato-n4, sans-serif;
}

#u5479-7,#u5483-6,#u5486-6,#u5491-6,#u5498-6,#u15390-4
{
	font-family: lato-n3, sans-serif;
}

#u15335,#u15422
{
	font-family: yellowtail-n4, cursive;
}

#u15335-4,#u15334-4,#u15333-3,#u16338-4,#u16337-4,#u16336-4,#u15388.PamphletThumbSelected #u15390-4 p,#u15422-4,#u15424-4,#u15423-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u15398-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15417-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15409-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15413-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15404-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu15306_input,#widgetu15306_prompt,#widgetu15321_input,#widgetu15321_prompt,#widgetu15310_input,#widgetu15310_prompt,#widgetu15314_input,#widgetu15314_prompt,#widgetu15326_input,#widgetu15326_prompt,#widgetu15397_input,#widgetu15397_prompt,#widgetu15415_input,#widgetu15415_prompt,#widgetu15407_input,#widgetu15407_prompt,#widgetu15411_input,#widgetu15411_prompt,#widgetu15401_input,#widgetu15401_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u15331-4,#u15330-5,#u15394-4,#u15395-5
{
	font-family: open-sans-n8, sans-serif;
}

#u15330-2,#u15395-2
{
	font-family: open-sans-n6, sans-serif;
}

#u12386-6
{
	font-family: lato-n4, sans-serif;
}

#u12395-7
{
	font-family: lato-n3, sans-serif;
}

#u12395-3
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u12395-4
{
	font-family: josefin-slab-n3, serif;
}

#u2782-4
{
	font-family: lato-n4, sans-serif;
}

#u2597-9,#u2589-9,#u2780-4,#u2773-4,#u2753-6,#u2756-6,#u2761-6,#u2766-6,#u2746-4,#u2601-4
{
	font-family: lato-n3, sans-serif;
}

#u2779-13,#u2772-14,#u2752-4,#u2758-4,#u2760-4,#u2765-6,#u2702-4,#u2706-4,#u2727-4,#u14818-4,#u2600-7,#u2606-6
{
	font-family: lato-n4, sans-serif;
}

#u2784-3,#u2607-3
{
	font-family: dosis-n4, sans-serif;
}

#u2663-4
{
	font-family: dosis-n5, sans-serif;
}

#u2665-4
{
	font-family: dosis-n5, sans-serif;
}

#u2609-4
{
	font-family: dosis-n5, sans-serif;
}

#u2679-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2684-4,#u2685-6,#u2686-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

