.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u8383-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u8389-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u8375-5
{
	font-family: league-gothic-n4, sans-serif;
}

#u15638.PamphletThumbSelected #u15639-4 p,#u15639-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u15634-4,#u15623-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15610-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15631-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15626-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15617-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15206-4.MuseLinkActive p,#u15206-4
{
	font-family: lato-n4, sans-serif;
}

#u15212-4.MuseLinkActive p,#u15212-4
{
	font-family: lato-n4, sans-serif;
}

#u15218-4.MuseLinkActive p,#u15218-4
{
	font-family: lato-n4, sans-serif;
}

#u15223-6.MuseLinkActive p,#u15223-6
{
	font-family: lato-n4, sans-serif;
}

#u12057-7,#u15205-6,#u15213-6,#u15215-6,#u15220-6,#u15648-4
{
	font-family: lato-n3, sans-serif;
}

#u15636-4,#u15719-4
{
	font-family: black-ops-one-n4, sans-serif;
}

#u15635-3,#u16370-4,#u16369-4,#u16368-4,#u15646.PamphletThumbSelected #u15648-4 p,#u15717-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u15718-4,#u15706-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15697-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15700-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15693-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u15713-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu15620_input,#widgetu15620_prompt,#widgetu15609_input,#widgetu15609_prompt,#widgetu15629_input,#widgetu15629_prompt,#widgetu15624_input,#widgetu15624_prompt,#widgetu15616_input,#widgetu15616_prompt,#widgetu15703_input,#widgetu15703_prompt,#widgetu15694_input,#widgetu15694_prompt,#widgetu15698_input,#widgetu15698_prompt,#widgetu15690_input,#widgetu15690_prompt,#widgetu15710_input,#widgetu15710_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u15607-4,#u15606-5,#u15715-4,#u15714-5
{
	font-family: open-sans-n8, sans-serif;
}

#u15606-2,#u15714-2
{
	font-family: open-sans-n6, sans-serif;
}

#u13857-6
{
	font-family: lato-n4, sans-serif;
}

#u12417-7
{
	font-family: lato-n3, sans-serif;
}

#u12417-3
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u12417-4
{
	font-family: josefin-slab-n3, serif;
}

#u8240-4,#u8364-4,#u8323-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u8876-4
{
	font-family: lato-n3, sans-serif;
}

#u8875-4
{
	font-family: lato-n3, sans-serif;
}

#u8362-8,#u8242-4,#u8334-4,#u8804-7,#u8824-6,#u8835-6,#u8860-6,#u9016-6,#u9130-7,#u12130-10,#u14198-4,#u8789-7,#u14711-28
{
	font-family: lato-n4, sans-serif;
}

#u14714-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u8865-4,#u14713-4
{
	font-family: lato-n3, sans-serif;
}

#u16252-4
{
	font-family: lato-n7, sans-serif;
}

#u8239-4,#u1957-2,#u1957-3,#u1957-4,#u8806-2,#u8823-3,#u8834-2,#u8935-2,#u9069-2,#u9162-2,#u12129-2,#u14197-2,#u8795-4,#u8837-4,#u8839-4,#u8787-4,#u14715-4,#u12162-6,#u8353-9,#u8840-4,#u11935-4
{
	font-family: black-ops-one-n4, sans-serif;
}

#u8269-4,#u8365-4,#u8809-4,#u8821-4,#u8831-4,#u8936-4,#u9070-4,#u9163-4,#u12134-4,#u14199-4,#u8790-4,#u14716-4,#u8841-4,#u11936-4
{
	font-family: josefin-slab-n4, serif;
}

#u8239-2,#u1957-8,#u8806-5,#u8806-20,#u8823-6,#u8823-17,#u8834-4,#u8834-17,#u8935-5,#u8935-8,#u8935-24,#u9069-5,#u9069-22,#u9162-5,#u9162-19,#u12129-5,#u12129-17,#u14197-5,#u14197-23,#u8787-2,#u14715-2,#u8840-2,#u11935-2,#u12725-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u12737-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u12730-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u12717-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u12719-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu12722_input,#widgetu12722_prompt,#widgetu12735_input,#widgetu12735_prompt,#widgetu12727_input,#widgetu12727_prompt,#widgetu12714_input,#widgetu12714_prompt,#widgetu12718_input,#widgetu12718_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u12712-4
{
	font-family: open-sans-n8, sans-serif;
}

