#u3286
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
}

#u3287
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.22);
	border-color: #000000;
	opacity: 0.32;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=32)";
	filter: alpha(opacity=32);
	position: fixed;
	background: #4B4642 url("../images/screen%20shot%202015-01-14%20at%20115009%20am.jpg") repeat center center;
}

#u3288
{
	background-color: transparent;
	position: fixed;
}

#u3291,#u3294
{
	background-color: transparent;
	position: relative;
}

#u3295-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	letter-spacing: 2px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u3294:hover #u3295-4 p
{
	color: #CAB25C;
	visibility: inherit;
}

#u3298,#u3299
{
	background-color: transparent;
	position: relative;
}

#u3301-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	letter-spacing: 2px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u3299:hover #u3301-4 p
{
	color: #CAB25C;
	visibility: inherit;
}

#u3312,#u3313
{
	background-color: transparent;
	position: relative;
}

#u3316-5
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 2px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u3313:hover #u3316-5 p,#u3313:hover #u3316-5 span
{
	color: #CAB25C;
	visibility: inherit;
}

#u3294.MuseMenuActive #u3295-4 p,#u3299.MuseMenuActive #u3301-4 p,#u3313.MuseMenuActive #u3316-5 p,#u3313.MuseMenuActive #u3316-5 span
{
	color: #000000;
	visibility: inherit;
}

#u3316
{
	line-height: 17px;
}

#u3316-2
{
	font-size: 12px;
	line-height: 14px;
}

#pamphletu15296
{
	position: fixed;
}

#u15298
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
}

#u15299-4
{
	background-color: transparent;
	color: #C1272D;
	line-height: 18px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u15298.PamphletThumbSelected #u15299-4 p
{
	color: #C1272D;
	visibility: inherit;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 900;
	font-style: normal;
}

#u15333
{
	padding-top: 10px;
}

#u15332,#u15304,#widgetu15306
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15308-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	color: #484848;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu15306:hover #u15308-4
{
	border-color: #6B6B6B;
}

#widgetu15306.focus-st #u15308-4
{
	border-color: #6B6B6B;
}

#widgetu15306.non-empty-st #u15308-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15306:hover #u15308-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15306.focus-st #u15308-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15321
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15322-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	color: #484848;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu15321:hover #u15322-4
{
	border-color: #6B6B6B;
}

#widgetu15321.focus-st #u15322-4
{
	border-color: #6B6B6B;
}

#widgetu15321.non-empty-st #u15322-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15321:hover #u15322-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15321.focus-st #u15322-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#u15320-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u15318-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u15319-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u15325-17
{
	position: relative;
	background: url("../images/u15325-17.png") no-repeat 0px 0px;
}

#u15325-17:hover
{
	background: url("../images/u15325-17-r.png") no-repeat 0px 0px;
}

#u15325-17:active
{
	background: url("../images/u15325-17-m.png") no-repeat 0px 0px;
}

#widgetu15305.frm-sub-st #u15325-17
{
	background: url("../images/u15325-17-fs.png") no-repeat 0px 0px;
}

#widgetu15310
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15313-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	color: #484848;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu15310:hover #u15313-4
{
	border-color: #6B6B6B;
}

#widgetu15310.focus-st #u15313-4
{
	border-color: #6B6B6B;
}

#widgetu15310.non-empty-st #u15313-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15310:hover #u15313-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15310.focus-st #u15313-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15314
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15317-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	color: #484848;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu15314:hover #u15317-4
{
	border-color: #6B6B6B;
}

#widgetu15314.focus-st #u15317-4
{
	border-color: #6B6B6B;
}

#widgetu15314.non-empty-st #u15317-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15314:hover #u15317-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15314.focus-st #u15317-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15326
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15329-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	color: #484848;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu15326:hover #u15329-4
{
	border-color: #6B6B6B;
}

#widgetu15326.focus-st #u15329-4
{
	border-color: #6B6B6B;
}

#widgetu15326.non-empty-st #u15329-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15326:hover #u15329-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15326.focus-st #u15329-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#u15331-2
{
	padding-top: 3px;
}

#u15330-3
{
	padding-top: 3px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u5479-7
{
	background-color: transparent;
	color: #212121;
	line-height: 49px;
	text-align: center;
	font-size: 38px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3316-3,#u5479-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5479,#u5479-3
{
	line-height: 49px;
}

#u5479-2,#u5479-4
{
	font-size: 35px;
	line-height: 46px;
}

#u5484-4
{
	background-color: transparent;
	color: #817C73;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5482
{
	border-color: #000000;
	position: relative;
	background: #F6F6F3 url("../images/profissional-u15208-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u5487-4
{
	background-color: transparent;
	color: #817C73;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5488
{
	border-color: #000000;
	position: relative;
	background: #F6F6F3 url("../images/bike-u15210-fr.jpg") no-repeat right center;
	background-size: cover;
}

#u5494-4
{
	background-color: transparent;
	color: #817C73;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5493
{
	border-color: #000000;
	position: relative;
	background: #F6F6F3 url("../images/qualidade-de-vida-men-u15217-fr.jpg") no-repeat center top;
	background-size: cover;
}

#menuu3290,#u5480,#u5485,#u5490,#u5495
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u5481,#u5489,#u5492,#u5497
{
	border-color: #000000;
	background-color: #F6F6F3;
	position: relative;
}

#u5483-6,#u5486-6,#u5491-6,#u5498-6
{
	background-color: transparent;
	color: #212121;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u5483-2,#u5486-2,#u5491-2,#u5498-2
{
	font-size: 13px;
	line-height: 17px;
}

#u5483-4,#u5486-4,#u5491-4,#u5498-4
{
	font-size: 22px;
	line-height: 29px;
}

#u5499-6
{
	background-color: transparent;
	color: #817C73;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5484-4.MuseLinkActive p,#u5487-4.MuseLinkActive p,#u5494-4.MuseLinkActive p,#u5499-6.MuseLinkActive p
{
	color: #817C73;
	visibility: inherit;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u5496
{
	border-color: #000000;
	position: relative;
	background: #F6F6F3 url("../images/sebastian_1707-u15222-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u12384
{
	-pie-box-shadow: 8px 0px 8px #C6C6C6;
	box-shadow: 8px 0px 8px rgba(0,0,0,0.22);
	border-style: solid;
	border-color: #ADADAD;
	background-color: #FFFFFF;
	border-width: 3px 0px 0px;
}

#u16338-4,#u16337-4,#u16336-4
{
	background-color: transparent;
	color: #212121;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u15388
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
}

#u15298.PamphletThumbSelected,#u15388.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 4px 4px 0px 0px ;
}

#u5500,#u16341,#u16343,#u16339,#u16351
{
	background-color: transparent;
	position: relative;
}

#u15390-4
{
	background-color: transparent;
	color: #212121;
	line-height: 20px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u15388.PamphletThumbSelected #u15390-4 p
{
	letter-spacing: 0px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u15302,#u15391
{
	position: absolute;
}

#u15303,#u15392
{
	border-color: #C7A558;
	background-color: #FFFFFF;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	position: relative;
}

#u15425
{
	position: relative;
	background: transparent url("../images/jump2.jpg") no-repeat center bottom;
	background-size: cover;
}

#u15335-4,#u15422-4
{
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,6);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,6);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,6);
	position: relative;
}

#u15335,#u15422
{
	font-family: yellowtail, cursive;
	font-weight: 400;
}

#u15334-4,#u15424-4
{
	background-color: transparent;
	color: #081402;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u15333-3,#u15423-3
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 17px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 2px 0px 0px;
}

#u15423
{
	padding-top: 10px;
}

#u15421,#u15393,#widgetu15397
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15398-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	color: #484848;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu15397:hover #u15398-4
{
	border-color: #6B6B6B;
}

#widgetu15397.focus-st #u15398-4
{
	border-color: #6B6B6B;
}

#widgetu15397.non-empty-st #u15398-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15397:hover #u15398-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15397.focus-st #u15398-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15415
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15417-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	color: #484848;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu15415:hover #u15417-4
{
	border-color: #6B6B6B;
}

#widgetu15415.focus-st #u15417-4
{
	border-color: #6B6B6B;
}

#widgetu15415.non-empty-st #u15417-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15415:hover #u15417-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15415.focus-st #u15417-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#u15420-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu15305.frm-sub-st #u15320-4 p,#widgetu15396.frm-sub-st #u15420-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u15405-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu15305.frm-subm-err-st #u15318-4 p,#widgetu15396.frm-subm-err-st #u15405-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u15406-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu15305.frm-sub-st #u15320-4,#widgetu15305.frm-subm-err-st #u15318-4,#widgetu15305.frm-subm-ok-st #u15319-4,#widgetu15396.frm-sub-st #u15420-4,#widgetu15396.frm-subm-err-st #u15405-4,#widgetu15396.frm-subm-ok-st #u15406-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu15305.frm-subm-ok-st #u15319-4 p,#widgetu15396.frm-subm-ok-st #u15406-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u15419-17
{
	position: relative;
	background: url("../images/u15419-17.png") no-repeat 0px 0px;
}

#u15419-17:hover
{
	background: url("../images/u15419-17-r.png") no-repeat 0px 0px;
}

#u15419-17:active
{
	background: url("../images/u15419-17-m.png") no-repeat 0px 0px;
}

#widgetu15396.frm-sub-st #u15419-17
{
	background: url("../images/u15419-17-fs.png") no-repeat 0px 0px;
}

#widgetu15407
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15409-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	color: #484848;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu15407:hover #u15409-4
{
	border-color: #6B6B6B;
}

#widgetu15407.focus-st #u15409-4
{
	border-color: #6B6B6B;
}

#widgetu15407.non-empty-st #u15409-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15407:hover #u15409-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15407.focus-st #u15409-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15411
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15413-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	color: #484848;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu15411:hover #u15413-4
{
	border-color: #6B6B6B;
}

#widgetu15411.focus-st #u15413-4
{
	border-color: #6B6B6B;
}

#widgetu15411.non-empty-st #u15413-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15411:hover #u15413-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15411.focus-st #u15413-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15401
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu15306.fld-err-st,#widgetu15321.fld-err-st,#widgetu15310.fld-err-st,#widgetu15314.fld-err-st,#widgetu15326.fld-err-st,#widgetu15397.fld-err-st,#widgetu15415.fld-err-st,#widgetu15407.fld-err-st,#widgetu15411.fld-err-st,#widgetu15401.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u15404-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	color: #484848;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu15401:hover #u15404-4
{
	border-color: #6B6B6B;
}

#widgetu15401.focus-st #u15404-4
{
	border-color: #6B6B6B;
}

#widgetu15306.fld-err-st #u15308-4,#widgetu15321.fld-err-st #u15322-4,#widgetu15310.fld-err-st #u15313-4,#widgetu15314.fld-err-st #u15317-4,#widgetu15326.fld-err-st #u15329-4,#widgetu15397.fld-err-st #u15398-4,#widgetu15415.fld-err-st #u15417-4,#widgetu15407.fld-err-st #u15409-4,#widgetu15411.fld-err-st #u15413-4,#widgetu15401.fld-err-st #u15404-4
{
	border-color: #D7244C;
}

#widgetu15401.non-empty-st #u15404-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15401:hover #u15404-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15401.focus-st #u15404-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu15306.fld-err-st #u15308-4 *,#widgetu15321.fld-err-st #u15322-4 *,#widgetu15310.fld-err-st #u15313-4 *,#widgetu15314.fld-err-st #u15317-4 *,#widgetu15326.fld-err-st #u15329-4 *,#widgetu15397.fld-err-st #u15398-4 *,#widgetu15415.fld-err-st #u15417-4 *,#widgetu15407.fld-err-st #u15409-4 *,#widgetu15411.fld-err-st #u15413-4 *,#widgetu15401.fld-err-st #u15404-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu15306_input,#widgetu15306_prompt,#widgetu15321_input,#widgetu15321_prompt,#widgetu15310_input,#widgetu15310_prompt,#widgetu15314_input,#widgetu15314_prompt,#widgetu15326_input,#widgetu15326_prompt,#widgetu15397_input,#widgetu15397_prompt,#widgetu15415_input,#widgetu15415_prompt,#widgetu15407_input,#widgetu15407_prompt,#widgetu15411_input,#widgetu15411_prompt,#widgetu15401_input,#widgetu15401_prompt
{
	color: #484848;
	text-align: left;
	font-family: hammersmith-one, sans-serif;
	font-style: italic;
	font-weight: 400;
}

#widgetu15306.non-empty-st #widgetu15306_prompt,#widgetu15321.non-empty-st #widgetu15321_prompt,#widgetu15310.non-empty-st #widgetu15310_prompt,#widgetu15314.focus-st #widgetu15314_prompt,#widgetu15314.non-empty-st #widgetu15314_prompt,#widgetu15326.focus-st #widgetu15326_prompt,#widgetu15326.non-empty-st #widgetu15326_prompt,#widgetu15397.non-empty-st #widgetu15397_prompt,#widgetu15415.non-empty-st #widgetu15415_prompt,#widgetu15407.non-empty-st #widgetu15407_prompt,#widgetu15411.focus-st #widgetu15411_prompt,#widgetu15411.non-empty-st #widgetu15411_prompt,#widgetu15401.focus-st #widgetu15401_prompt,#widgetu15401.non-empty-st #widgetu15401_prompt
{
	visibility: hidden;
}

#u15394-2
{
	padding-top: 3px;
}

#u15331-4,#u15330-5,#u15394-4,#u15395-5
{
	background-color: transparent;
	color: #484848;
	line-height: 14px;
	text-align: left;
	text-transform: uppercase;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	font-style: normal;
	position: relative;
}

#u15395-3
{
	padding-top: 3px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u15330,#u15395
{
	line-height: 14px;
}

#u15330-2,#u15395-2
{
	font-size: 10px;
	text-transform: none;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	line-height: 10px;
}

#u12385
{
	border-color: #000000;
	background-color: #000000;
}

#u15297,#widgetu15305,#u12384_align_to_page,#pamphletu15386,#u15387,#widgetu15396,#u12385_align_to_page
{
	position: relative;
}

#u12386-6
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 12px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 10px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u12386-2
{
	text-transform: lowercase;
}

#u12395-7
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 16px;
	text-align: right;
	text-transform: uppercase;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u12395-3
{
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
}

#u12395-4
{
	font-family: josefin-slab, serif;
	font-weight: 300;
}

