.version.sobre_o_metodo /* version checker */
{
	color: #0000E9;
	background-color: #D82F2F;
}

.html
{
	background-color: #F1F1F1;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 513.8125000000009px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -41px;
	margin-bottom: -950px;
	width: 0.01px;
}

#pu3286
{
	width: 0.01px;
	padding-bottom: 34px;
	margin-left: -100px;
}

#u3286
{
	z-index: 521;
	height: 34px;
	top: -5px;
}

#u3286-bw
{
	z-index: 521;
}

#u3287
{
	z-index: 522;
	height: 34px;
	top: -5px;
}

#u3287-bw
{
	z-index: 522;
}

#u3288
{
	z-index: 523;
	width: 35px;
	top: 0px;
	left: 12px;
}

#menuu3290
{
	z-index: 525;
	width: 580px;
	top: 0px;
	left: 37px;
}

#u3291
{
	width: 109px;
	min-height: 28px;
	margin-right: -10000px;
}

#u3294
{
	width: 109px;
	padding-bottom: 11px;
}

#u3294.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u3295-4
{
	width: 52px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 28px;
}

#u3294:hover #u3295-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u3294.MuseMenuActive #u3295-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u3298
{
	width: 184px;
	min-height: 28px;
	margin-right: -10000px;
	left: 111px;
}

#u3299
{
	width: 184px;
	padding-bottom: 11px;
}

#u3299.MuseMenuActive
{
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u3301-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 28px;
}

#u3299:hover #u3301-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3299.MuseMenuActive #u3301-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u3312
{
	width: 283px;
	min-height: 28px;
	margin-right: -10000px;
	left: 297px;
}

#u3313
{
	width: 283px;
	padding-bottom: 11px;
}

#u3313:hover
{
	width: 283px;
	min-height: 0px;
	margin: 0px;
}

#u3313.MuseMenuActive
{
	width: 283px;
	min-height: 0px;
	margin: 0px;
}

#u3316-5
{
	width: 227px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 28px;
}

#u3313:hover #u3316-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 227px;
	margin: 0px -10000px 0px 0px;
}

#u3313.MuseMenuActive #u3316-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 227px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu15296
{
	z-index: 545;
	width: 0.01px;
	height: 18px;
	padding-bottom: 4px;
	top: 4px;
	right: 250px;
}

#u15297
{
	z-index: 546;
	width: 192px;
	margin-right: -10000px;
}

#u15298
{
	width: 200px;
	padding-bottom: 4px;
}

#u15298.PamphletThumbSelected
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u15299-4
{
	z-index: 548;
	width: 192px;
	margin-right: -10000px;
}

#u15298.PamphletThumbSelected #u15299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u15302popup
{
	z-index: 552;
}

#u15302
{
	width: 444px;
	top: 27px;
	left: -244px;
}

#u15303
{
	z-index: 553;
	width: 369px;
	height: 415px;
	margin-right: -10000px;
	padding: 39px 37px 72px 38px;
}

#u15332
{
	z-index: 619;
	width: 367px;
	margin-left: 1px;
}

#u15335-4
{
	z-index: 627;
	width: 322px;
	margin-left: 1px;
	margin-top: 6px;
	margin-bottom: 6px;
}

#u15334-4
{
	z-index: 620;
	width: 367px;
	min-height: 22px;
	margin-top: 6px;
}

#u15333-3
{
	z-index: 624;
	width: 163px;
	min-height: 9px;
	margin-left: 81px;
	margin-top: 16px;
}

#u15304
{
	z-index: 554;
	width: 367px;
	padding: 1px;
	top: -4px;
	margin-bottom: -4px;
}

#widgetu15305
{
	z-index: 555;
	width: 0.01px;
	height: 297px;
}

#widgetu15306
{
	z-index: 556;
	width: 369px;
	height: 37px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u15308-4
{
	z-index: 557;
	width: 355px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu15306:hover #u15308-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15306.focus-st #u15308-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15321
{
	z-index: 561;
	width: 369px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 50px;
	left: -1px;
}

#u15322-4
{
	z-index: 562;
	width: 355px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu15306.fld-err-st #u15308-4,#widgetu15321:hover #u15322-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15321.focus-st #u15322-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#u15320-4
{
	z-index: 566;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 268px;
	left: 140px;
}

#u15318-4
{
	z-index: 570;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 268px;
	left: 140px;
}

#u15319-4
{
	z-index: 574;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 268px;
	left: 140px;
}

#u15325-17
{
	z-index: 578;
	min-height: 33px;
	width: 131px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 265px;
}

#widgetu15310
{
	z-index: 595;
	width: 168px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 188px;
	left: -1px;
}

#u15313-4
{
	z-index: 596;
	width: 154px;
	min-height: 21px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu15310:hover #u15313-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15310.focus-st #u15313-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15314
{
	z-index: 600;
	width: 369px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 101px;
	left: -1px;
}

#u15317-4
{
	z-index: 601;
	width: 355px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu15321.fld-err-st #u15322-4,#widgetu15314:hover #u15317-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15314.focus-st #u15317-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15326
{
	z-index: 605;
	width: 196px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 172px;
}

#u15329-4
{
	z-index: 606;
	width: 182px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu15326:hover #u15329-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15326.focus-st #u15329-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u15331-4
{
	z-index: 610;
	width: 367px;
	min-height: 28px;
	top: -147px;
	margin-bottom: -28px;
}

#u15330-5
{
	z-index: 614;
	width: 367px;
	min-height: 28px;
	top: -66px;
	margin-bottom: -28px;
}

#pu2596
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -4px;
}

#u2596
{
	z-index: 187;
	min-height: 614px;
	border-color: #000000;
	padding-bottom: 5px;
	background: #F1F1F1 url("../images/metodo-derose.jpg") no-repeat center center;
	background-size: cover;
}

#u15137
{
	z-index: 188;
	width: 580px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 10px;
}

#u15137_img
{
	padding-right: 65px;
}

#u2596-bw
{
	z-index: 187;
	min-height: 614px;
}

#u14950
{
	z-index: 210;
	min-height: 619px;
	background: -webkit-gradient(linear, left center, right center, from(rgba(0,0,0,0.56)),color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.56) ,rgba(0,0,0,0) 100%);
	background: linear-gradient(to right,rgba(0,0,0,0.56) ,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8E000000, endColorstr=#00000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8E000000', endColorstr='#00000000', GradientType=1)";
	border-color: #000000;
	background-size: 100% auto;
}

#u14950_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 291px;
	padding-bottom: 3px;
}

#u2597-9
{
	z-index: 211;
	width: 411px;
	min-height: 80px;
	background-color: transparent;
	color: #F8F8F8;
	text-align: left;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 300;
	left: 95px;
	position: relative;
}

#u2597-2
{
	font-size: 20px;
	line-height: 24px;
}

#u2597-7
{
	font-size: 33px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2598-4
{
	z-index: 220;
	width: 409px;
	min-height: 53px;
	background-color: transparent;
	color: #F8F8F8;
	line-height: 17px;
	left: 96px;
	margin-top: 1px;
	position: relative;
}

#buttonu2781
{
	z-index: 507;
	width: 152px;
	background: #BCBCBA url("../images/u19239-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#F1F1F1),color-stop(100%, #BCBCBA));
	background: -webkit-linear-gradient(top,#F1F1F1 ,#BCBCBA 100%);
	background: linear-gradient(to bottom,#F1F1F1 ,#BCBCBA 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #DBDDD5;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	border-radius: 23px;
	padding-bottom: 5px;
	left: 95px;
	margin-top: 16px;
	position: relative;
}

#buttonu2781:hover
{
	background: #BCBCBA url("../images/u19239-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#545454),color-stop(100%, #BCBCBA));
	background: -webkit-linear-gradient(top,#545454 ,#BCBCBA 100%);
	background: linear-gradient(to bottom,#545454 ,#BCBCBA 100%);
	width: 152px;
	min-height: 0px;
	margin: 16px 0px 0px;
}

#buttonu2781.ButtonSelected
{
	background: #BCBCBA url("../images/u19239-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#F1F1F1),color-stop(100%, #BCBCBA));
	background: -webkit-linear-gradient(top,#F1F1F1 ,#BCBCBA 100%);
	background: linear-gradient(to bottom,#F1F1F1 ,#BCBCBA 100%);
	width: 152px;
	min-height: 0px;
	margin: 16px 0px 0px;
}

#u2782-4
{
	z-index: 508;
	width: 153px;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#buttonu2781:hover #u2782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 153px;
	margin: 8px -10000px 0px 0px;
}

#buttonu2781.ButtonSelected #u2782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 153px;
	margin: 8px -10000px 0px 0px;
}

#buttonu2781:hover #u2782-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu2781.ButtonSelected #u2782-4 p
{
	color: #333333;
	visibility: inherit;
}

#o-que-e
{
	left: 21px;
	margin-top: 123px;
	position: relative;
}

#u14950-bw
{
	z-index: 210;
	min-height: 619px;
}

#u2589-9
{
	z-index: 195;
	width: 437px;
	min-height: 143px;
	background-color: transparent;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-left: 261px;
	margin-top: 76px;
	position: relative;
}

#u2589-2
{
	font-size: 27px;
	line-height: 32px;
	color: #2D2418;
}

#u2589-7
{
	font-size: 33px;
	letter-spacing: 6px;
	color: #3D1900;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2597-3,#u2597-5,#u2589-3,#u2589-5
{
	line-height: 40px;
}

#u2597-4,#u2597-6,#u2589-4,#u2589-6
{
	font-size: 30px;
	line-height: 36px;
}

#u2775
{
	z-index: 488;
	width: 560px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 830px;
	left: -80px;
}

#u2776
{
	z-index: 489;
	width: 447px;
	border-color: #000000;
	background-color: #EAE9E5;
	position: relative;
	margin-right: -10000px;
	padding: 100px 57px 45.00014582400581px 56px;
}

#u2780-4
{
	z-index: 490;
	width: 447px;
	min-height: 50px;
	background-color: transparent;
	color: #2D2418;
	line-height: 40px;
	text-align: center;
	font-size: 33px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2779-13
{
	z-index: 494;
	width: 323px;
	min-height: 212px;
	background-color: transparent;
	color: #2D2418;
	line-height: 29px;
	text-align: center;
	font-size: 19px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 62px;
	margin-top: 11px;
	position: relative;
}

#u2779-10
{
	font-style: italic;
}

#u2769
{
	z-index: 468;
	width: 536px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 830px;
	left: 480px;
}

#u2774
{
	z-index: 469;
	width: 447px;
	border-color: #000000;
	background-color: #8E4C39;
	position: relative;
	margin-right: -10000px;
	padding: 89px 45px 55.00014582400581px 44px;
}

#u2773-4
{
	z-index: 470;
	width: 447px;
	min-height: 50px;
	background-color: transparent;
	color: #F1F1F1;
	line-height: 40px;
	text-align: center;
	font-size: 33px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2772-14
{
	z-index: 474;
	width: 351px;
	min-height: 212px;
	background-color: transparent;
	color: #F1F1F1;
	line-height: 29px;
	text-align: center;
	font-size: 19px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 49px;
	margin-top: 12px;
	position: relative;
}

#u3371
{
	z-index: 518;
	width: 205px;
	background-color: transparent;
	position: fixed;
	top: 977px;
	left: 378px;
}

#u2593
{
	z-index: 207;
	width: 978px;
	background-color: transparent;
	left: -9px;
	margin-top: 450px;
	position: relative;
}

#u3060-4
{
	z-index: 191;
	width: 872px;
	min-height: 60px;
	background-color: transparent;
	line-height: 53px;
	text-align: center;
	font-size: 41px;
	position: fixed;
	top: 1380px;
	left: 44px;
}

#u3069
{
	z-index: 412;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1514px;
	left: -59px;
}

#u2747
{
	z-index: 413;
	width: 198px;
	border-color: #000000;
	background-color: #F6F6F3;
	position: relative;
	margin-right: -10000px;
	padding: 24px 30px 56.49950000000035px;
}

#u2753-6
{
	z-index: 414;
	width: 198px;
	min-height: 70px;
	background-color: transparent;
	color: #212121;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2752-4
{
	z-index: 421;
	width: 196px;
	min-height: 107px;
	background-color: transparent;
	color: #817C73;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 149px;
	position: relative;
}

#u2754
{
	z-index: 420;
	width: 198px;
	height: 145px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 30px;
	background: #F6F6F3 url("../images/screen%20shot%202015-04-29%20at%2014840%20pm-u2754-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u3070
{
	z-index: 425;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1514px;
	left: 214px;
}

#u2748
{
	z-index: 426;
	width: 198px;
	border-color: #000000;
	background-color: #F6F6F3;
	position: relative;
	margin-right: -10000px;
	padding: 24px 30px 68.49950000000035px;
}

#u2756-6
{
	z-index: 427;
	width: 198px;
	min-height: 70px;
	background-color: transparent;
	color: #212121;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2758-4
{
	z-index: 434;
	width: 196px;
	min-height: 95px;
	background-color: transparent;
	color: #817C73;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 149px;
	position: relative;
}

#u2757
{
	z-index: 433;
	width: 198px;
	height: 145px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 30px;
	background: #F6F6F3 url("../images/guida.jpg") no-repeat center top;
	background-size: cover;
}

#u3071
{
	z-index: 438;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1514px;
	left: 488px;
}

#u2749
{
	z-index: 439;
	width: 198px;
	border-color: #000000;
	background-color: #F6F6F3;
	position: relative;
	margin-right: -10000px;
	padding: 24px 30px 36.49950000000035px;
}

#u2761-6
{
	z-index: 440;
	width: 198px;
	min-height: 70px;
	background-color: transparent;
	color: #212121;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2760-4
{
	z-index: 447;
	width: 196px;
	min-height: 127px;
	background-color: transparent;
	color: #817C73;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 149px;
	position: relative;
}

#u2762
{
	z-index: 446;
	width: 198px;
	height: 145px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 30px;
	background: #F6F6F3 url("../images/jump-u2762-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#u3072
{
	z-index: 453;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1514px;
	left: 761px;
}

#u2750
{
	z-index: 454;
	width: 198px;
	border-color: #000000;
	background-color: #F6F6F3;
	position: relative;
	margin-right: -10000px;
	padding: 24px 30px 56.49950000000035px;
}

#u2766-6
{
	z-index: 455;
	width: 198px;
	min-height: 70px;
	background-color: transparent;
	color: #212121;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2753-2,#u2756-2,#u2761-2,#u2766-2
{
	font-size: 13px;
	line-height: 17px;
}

#u2753-4,#u2756-4,#u2761-4,#u2766-4
{
	font-size: 22px;
	line-height: 29px;
}

#u2765-6
{
	z-index: 462;
	width: 196px;
	min-height: 107px;
	background-color: transparent;
	color: #817C73;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 149px;
	position: relative;
}

#u2764
{
	z-index: 461;
	width: 198px;
	height: 145px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 30px;
	background: #F6F6F3 url("../images/good-shape-sobre-derose.jpg") no-repeat center top;
	background-size: cover;
}

#u2595
{
	z-index: 209;
	min-height: 93px;
	border-color: #000000;
	background-color: #EAE9E5;
	padding-bottom: 336px;
}

#u2596_align_to_page,#u2595_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u2784-5
{
	z-index: 513;
	width: 340px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 409px;
}

#u2784-2
{
	font-size: 33px;
	text-align: center;
	line-height: 43px;
}

#u2595-bw
{
	z-index: 209;
	min-height: 93px;
	margin-top: 642px;
}

#pu2688
{
	width: 0.01px;
	padding-bottom: 296px;
	margin-left: -4px;
	margin-top: -296px;
}

#u2688
{
	z-index: 334;
	width: 301px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: fixed;
	top: 2120px;
	left: -4px;
}

#pamphletu2690
{
	z-index: 339;
	width: 0.01px;
	height: 202px;
	position: relative;
}

#u2693
{
	z-index: 340;
	width: 301px;
	position: relative;
	margin-right: -10000px;
}

#u2694
{
	position: absolute;
	width: 301px;
	height: 202px;
	border-color: #DEDEDE;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	background: #DEDEDE url("../images/screen%20shot%202014-06-09%20at%20135449.jpg") no-repeat center center;
	background-size: cover;
}

#u2695
{
	position: absolute;
	width: 818px;
	background-color: #272727;
	background-color: rgba(16,16,16,0.9);
	padding-bottom: 44px;
	top: -349px;
	left: 24px;
	-pie-background: rgba(16,16,16,0.9);
}

#u2695popup
{
	z-index: 342;
}

#u2696
{
	z-index: 343;
	width: 774px;
	height: 519px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2697
{
	z-index: 344;
	width: 774px;
	min-height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2701
{
	position: absolute;
	width: 125px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 168px;
	left: 692px;
}

#u2701:hover
{
	border-color: #6B6B6B;
	background-color: #999999;
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u2702-4
{
	z-index: 346;
	width: 109px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u2689-4
{
	z-index: 335;
	width: 301px;
	min-height: 44px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	margin-top: 15px;
	position: relative;
}

#u2703
{
	z-index: 350;
	width: 301px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2120px;
	left: 324px;
}

#pamphletu2704
{
	z-index: 356;
	width: 0.01px;
	height: 202px;
	position: relative;
	margin-right: -10000px;
}

#u2713
{
	z-index: 357;
	width: 301px;
	position: relative;
	margin-right: -10000px;
}

#u2714
{
	position: absolute;
	width: 301px;
	height: 202px;
	border-color: #DEDEDE;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	background: #DEDEDE url("../images/screen%20shot%202014-06-17%20at%20202107.jpg") no-repeat center center;
	background-size: cover;
}

#u2707
{
	position: absolute;
	width: 818px;
	background-color: #272727;
	background-color: rgba(16,16,16,0.9);
	padding-bottom: 44px;
	top: -349px;
	left: -305px;
	-pie-background: rgba(16,16,16,0.9);
}

#u2707popup
{
	z-index: 359;
}

#u2708
{
	z-index: 360;
	width: 774px;
	height: 519px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2709
{
	z-index: 361;
	width: 774px;
	min-height: 499px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2705
{
	position: absolute;
	width: 125px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 168px;
	left: 363px;
}

#u2705:hover
{
	border-color: #6B6B6B;
	background-color: #999999;
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u2706-4
{
	z-index: 363;
	width: 109px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u2717-5
{
	z-index: 351;
	width: 301px;
	min-height: 79px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
}

#u2717
{
	line-height: 20px;
}

#u2717-2
{
	font-size: 15px;
	line-height: 18px;
}

#u2718
{
	z-index: 367;
	width: 301px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2120px;
	left: 653px;
}

#pamphletu2719
{
	z-index: 368;
	width: 0.01px;
	height: 202px;
	position: relative;
	margin-right: -10000px;
}

#u2728
{
	z-index: 369;
	width: 301px;
	position: relative;
	margin-right: -10000px;
}

#u2729
{
	position: absolute;
	width: 301px;
	height: 202px;
	border-color: #DEDEDE;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	background: #DEDEDE url("../images/screen%20shot%202014-06-17%20at%20202551.jpg") no-repeat center center;
	background-size: cover;
}

#u2694:hover,#u2714:hover,#u2729:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 301px;
	height: 202px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u2720
{
	position: absolute;
	width: 818px;
	background-color: #272727;
	background-color: rgba(16,16,16,0.9);
	padding-bottom: 44px;
	top: -349px;
	left: -639px;
	-pie-background: rgba(16,16,16,0.9);
}

#u2720popup
{
	z-index: 371;
}

#u2721
{
	z-index: 372;
	width: 774px;
	height: 519px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2722
{
	z-index: 373;
	width: 774px;
	min-height: 507px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2726
{
	position: absolute;
	width: 125px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 168px;
	left: 29px;
}

#u2726:hover
{
	border-color: #6B6B6B;
	background-color: #999999;
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u2701:active,#u2705:active,#u2726:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u2727-4
{
	z-index: 375;
	width: 109px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u2732-6
{
	z-index: 379;
	width: 301px;
	min-height: 39px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
}

#u2732-2
{
	letter-spacing: 2px;
}

#u2745-7
{
	z-index: 397;
	width: 971px;
	min-height: 78px;
	background-color: transparent;
	line-height: 50px;
	text-align: center;
	font-size: 31px;
	left: -4px;
	margin-top: 91px;
	position: relative;
}

#u2745-3
{
	line-height: 50px;
}

#u2745-4
{
	font-size: 16px;
	line-height: 26px;
}

#u2736
{
	z-index: 388;
	width: 103px;
	height: 103px;
	border-color: #000000;
	position: fixed;
	top: 2621px;
	left: -40px;
	background: #894D1B url("../images/screen%20shot%202014-02-13%20at%20110940.jpg") no-repeat center center;
	background-size: cover;
}

#u2735
{
	z-index: 387;
	width: 103px;
	height: 103px;
	border-color: #000000;
	position: fixed;
	top: 2621px;
	left: 63px;
	background: #894D1B url("../images/screen%20shot%202013-11-15%20at%20223714.jpg") no-repeat right center;
	background-size: cover;
}

#u2742
{
	z-index: 394;
	width: 103px;
	height: 103px;
	border-color: #000000;
	position: fixed;
	top: 2621px;
	left: 167px;
	background: #894D1B url("../images/screen%20shot%202013-11-15%20at%20215550.jpg") no-repeat center center;
	background-size: cover;
}

#u2739
{
	z-index: 391;
	width: 103px;
	height: 103px;
	border-color: #000000;
	position: fixed;
	top: 2621px;
	left: 270px;
	background: #894D1B url("../images/screen%20shot%202013-11-15%20at%20223916.jpg") no-repeat center center;
	background-size: cover;
}

#u2737
{
	z-index: 389;
	width: 103px;
	height: 103px;
	border-color: #000000;
	position: fixed;
	top: 2621px;
	left: 373px;
	background: #894D1B url("../images/screen%20shot%202013-11-15%20at%20224124.jpg") no-repeat center center;
	background-size: cover;
}

#u2740
{
	z-index: 392;
	width: 103px;
	height: 103px;
	border-color: #000000;
	position: fixed;
	top: 2621px;
	left: 476px;
	background: #894D1B url("../images/screen%20shot%202013-11-15%20at%20224526.jpg") no-repeat left top;
	background-size: cover;
}

#u2743
{
	z-index: 395;
	width: 103px;
	height: 103px;
	border-color: #000000;
	position: fixed;
	top: 2621px;
	left: 580px;
	background: #894D1B url("../images/screen%20shot%202013-11-15%20at%20224308.jpg") no-repeat center center;
	background-size: cover;
}

#u2744
{
	z-index: 396;
	width: 103px;
	height: 103px;
	border-color: #000000;
	position: fixed;
	top: 2621px;
	left: 683px;
	background: #894D1B url("../images/screen%20shot%202013-11-15%20at%20224351.jpg") no-repeat center center;
	background-size: cover;
}

#u2738
{
	z-index: 390;
	width: 103px;
	height: 103px;
	border-color: #000000;
	position: fixed;
	top: 2621px;
	left: 786px;
	background: #894D1B url("../images/screen%20shot%202013-11-15%20at%20215521.jpg") no-repeat right center;
	background-size: cover;
}

#u2741
{
	z-index: 393;
	width: 103px;
	height: 103px;
	border-color: #000000;
	position: fixed;
	top: 2621px;
	left: 890px;
	background: #894D1B url("../images/sampa.jpg") no-repeat left top;
	background-size: cover;
}

#u2746-4
{
	z-index: 404;
	width: 1090px;
	background-color: transparent;
	color: #3F3F3F;
	line-height: 30px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 20px;
	font-family: lato, sans-serif;
	font-weight: 300;
	left: -65px;
	margin-top: 163px;
	position: relative;
}

#pu14820
{
	width: 0.01px;
	margin-left: -65px;
	margin-top: 30px;
}

#u14820
{
	z-index: 190;
	width: 1095px;
	background-color: #FFFFFF;
	padding-bottom: 54px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u14818-4
{
	z-index: 408;
	width: 826px;
	min-height: 100px;
	background-color: transparent;
	color: #3F3F3F;
	line-height: 26px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 135px;
}

#u15149
{
	z-index: 520;
	width: 206px;
	height: 209px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/selo.png") no-repeat left bottom;
	background-size: contain;
}

#pu2603
{
	width: 0.01px;
	margin-left: -63px;
	margin-top: 15px;
}

#u2603
{
	z-index: 237;
	width: 548px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2604
{
	z-index: 238;
	width: 548px;
	height: 489px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #F1F1F1 url("../images/fundo-_divulguederose.jpg") no-repeat left top;
	background-size: cover;
}

#u2599
{
	z-index: 224;
	width: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 572px;
}

#u2602
{
	z-index: 225;
	width: 437px;
	border-color: #000000;
	background-color: #EAE9E5;
	position: relative;
	margin-right: -10000px;
	padding: 98px 44px 109.00014582400581px 43px;
}

#u2601-4
{
	z-index: 226;
	width: 437px;
	min-height: 50px;
	background-color: transparent;
	color: #2D2418;
	line-height: 40px;
	text-align: center;
	font-size: 33px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2600-7
{
	z-index: 230;
	width: 435px;
	min-height: 221px;
	background-color: transparent;
	color: #2D2418;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 11px;
	position: relative;
}

#pu2590
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 48px;
}

#u2590
{
	z-index: 204;
	height: 380px;
	border-color: #000000;
	background: #F1F1F1 url("../images/derose%20festival%20portugal%202013%20%c2%a9%20lino%20silva-1798.jpg") no-repeat center top;
	background-size: cover;
}

#u2590-bw
{
	z-index: 204;
	height: 380px;
}

#u2591
{
	z-index: 205;
	height: 380px;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.22;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=22)";
	filter: alpha(opacity=22);
}

#u2591-bw
{
	z-index: 205;
	height: 380px;
}

#u2767
{
	z-index: 451;
	width: 158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 882px;
}

#pu2606-6
{
	width: 0.01px;
	margin-top: 39px;
}

#u2606-6
{
	z-index: 239;
	width: 630px;
	min-height: 49px;
	background-color: transparent;
	color: #40351C;
	line-height: 19px;
	text-align: justify;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
}

#u2717-3,#u2745-5,#u2606-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2606-2
{
	font-size: 14px;
	line-height: 17px;
}

#u2606,#u2606-3
{
	line-height: 19px;
}

#u2607-5
{
	z-index: 245;
	width: 340px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2607-2
{
	font-size: 33px;
	text-align: left;
	line-height: 43px;
}

#u2784-3,#u2607-3
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	color: #40351C;
	font-family: dosis, sans-serif;
	font-weight: 400;
}

#pu2592
{
	width: 0.01px;
	margin-left: -37px;
	margin-top: 21px;
}

#u2592
{
	z-index: 206;
	width: 997px;
	height: 419px;
	-pie-box-shadow: 6px 6px 8px #C6C6C6;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.22);
	border-width: 20px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #2D231D;
	position: relative;
	margin-right: -10000px;
}

#slideshowu2608
{
	z-index: 250;
	width: 0.01px;
	height: 299px;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 45px;
}

#u2613
{
	position: absolute;
	width: 774px;
	height: 591px;
	border-style: none;
	border-color: transparent;
	background-color: #373126;
	background-color: rgba(33,27,14,0.9);
	top: -329px;
	left: -357px;
	-pie-background: rgba(33,27,14,0.9);
}

#u2613popup
{
	z-index: 251;
}

#u2616
{
	z-index: 252;
	width: 730px;
	height: 547px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2632
{
	z-index: 254;
	width: 730px;
	height: 547px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2632_img
{
	padding: 59px 93px 59px 94px;
}

#u2628
{
	z-index: 256;
	width: 730px;
	height: 547px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2636
{
	z-index: 258;
	width: 730px;
	height: 547px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2618
{
	z-index: 260;
	width: 730px;
	height: 547px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2622
{
	z-index: 262;
	width: 730px;
	height: 547px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2620
{
	z-index: 264;
	width: 730px;
	height: 547px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2634
{
	z-index: 266;
	width: 730px;
	height: 547px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2624
{
	z-index: 268;
	width: 730px;
	height: 547px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2624_img
{
	padding: 47px 79px 46px 78px;
}

#u2614
{
	z-index: 270;
	width: 730px;
	height: 547px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2626
{
	z-index: 272;
	width: 730px;
	height: 547px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2630
{
	z-index: 274;
	width: 730px;
	height: 547px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2616_img,#u2628_img,#u2636_img,#u2618_img,#u2622_img,#u2620_img,#u2634_img,#u2614_img,#u2626_img,#u2630_img
{
	padding: 59px 93px 58px 94px;
}

#u2638
{
	position: absolute;
	width: 944px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 17px;
}

#u2638popup
{
	z-index: 276;
}

#u2645
{
	z-index: 277;
	width: 140px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 27px;
}

#u2639
{
	z-index: 279;
	width: 140px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 177px;
}

#u2641
{
	z-index: 281;
	width: 140px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u2647
{
	z-index: 283;
	width: 140px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 477px;
}

#u2643
{
	z-index: 285;
	width: 140px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 627px;
}

#u2651
{
	z-index: 287;
	width: 140px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 777px;
}

#u2645:hover,#u2639:hover,#u2641:hover,#u2647:hover,#u2643:hover,#u2651:hover
{
	width: 140px;
	height: 136px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2649
{
	z-index: 289;
	width: 140px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 27px;
}

#u2653
{
	z-index: 291;
	width: 140px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 177px;
}

#u2661
{
	z-index: 293;
	width: 140px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 327px;
}

#u2657
{
	z-index: 295;
	width: 140px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 477px;
}

#u2655
{
	z-index: 297;
	width: 140px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 627px;
}

#u2659
{
	z-index: 299;
	width: 140px;
	height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 777px;
}

#u2649:hover,#u2653:hover,#u2661:hover,#u2657:hover,#u2655:hover,#u2659:hover
{
	width: 140px;
	height: 136px;
	min-height: 0px;
	margin: 146px -10000px 0px 0px;
}

#u2645_clip,#u2639_clip,#u2641_clip,#u2647_clip,#u2643_clip,#u2651_clip,#u2649_clip,#u2653_clip,#u2661_clip,#u2657_clip,#u2655_clip,#u2659_clip
{
	overflow: hidden;
	width: 140px;
	height: 136px;
}

#u2645_img,#u2639_img,#u2641_img,#u2647_img,#u2643_img,#u2651_img,#u2649_img,#u2653_img,#u2661_img,#u2657_img,#u2655_img,#u2659_img
{
	margin-left: -16px;
	margin-right: -16px;
}

#u2663-4
{
	position: absolute;
	width: 46px;
	min-height: 46px;
	background-color: transparent;
	padding-bottom: 5px;
	color: #FFFFFF;
	line-height: 46px;
	text-align: center;
	font-size: 33px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	top: 184px;
	left: 136px;
}

#u2663-4:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 5px;
	min-height: 46px;
	width: 46px;
	margin: 0px;
}

#u2663-4popup
{
	z-index: 301;
}

#u2665-4
{
	position: absolute;
	width: 38px;
	min-height: 46px;
	background-color: transparent;
	padding-bottom: 5px;
	color: #FFFFFF;
	line-height: 46px;
	text-align: center;
	font-size: 33px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	top: 184px;
	left: 264px;
}

#u2665-4:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 5px;
	min-height: 46px;
	width: 38px;
	margin: 0px;
}

#u2665-4popup
{
	z-index: 305;
}

#u2609-4
{
	position: absolute;
	width: 70px;
	min-height: 33px;
	background-color: transparent;
	padding-top: 13px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 500;
	top: 184px;
	left: 193px;
}

#u2609-4popup
{
	z-index: 309;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2733
{
	z-index: 385;
	width: 978px;
	background-color: transparent;
	left: -9px;
	margin-top: 77px;
	position: relative;
}

#u2679-4
{
	z-index: 313;
	width: 525px;
	min-height: 70px;
	background-color: transparent;
	color: #5E0F12;
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 217px;
	margin-top: 51px;
	position: relative;
}

#pu2680
{
	width: 0.01px;
	margin-left: 153px;
	margin-top: 32px;
}

#u2680
{
	z-index: 317;
	width: 192px;
	height: 114px;
	border-color: #5E0F12;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/screen%20shot%202015-04-15%20at%2053103%20pm.jpg") no-repeat center top;
	background-size: cover;
}

#u2681
{
	z-index: 318;
	width: 192px;
	height: 114px;
	border-color: #5E0F12;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	margin-right: -10000px;
	left: 230px;
	background: transparent url("../images/screen%20shot%202015-04-15%20at%2053337%20pm.jpg") no-repeat center top;
	background-size: cover;
}

#u2682
{
	z-index: 319;
	width: 192px;
	height: 114px;
	border-color: #5E0F12;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	margin-right: -10000px;
	left: 461px;
	background: transparent url("../images/screen%20shot%202015-04-15%20at%2053433%20pm.jpg") no-repeat center top;
	background-size: cover;
}

#u2680:hover,#u2681:hover,#u2682:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	border-color: #5E0F12;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 192px;
	height: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#pu2684-4
{
	width: 0.01px;
	margin-left: 185px;
	margin-top: 31px;
}

#u2684-4
{
	z-index: 320;
	width: 127px;
	min-height: 73px;
	background-color: transparent;
	color: #5E0F12;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2685-6
{
	z-index: 324;
	width: 130px;
	min-height: 72px;
	background-color: transparent;
	color: #5E0F12;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 229px;
}

#u2686-4
{
	z-index: 330;
	width: 130px;
	min-height: 72px;
	background-color: transparent;
	color: #5E0F12;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 459px;
}

#u5500
{
	z-index: 63;
	width: 978px;
	left: -18px;
}

#u5479-7
{
	z-index: 2;
	width: 624px;
	min-height: 74px;
	margin-left: 176px;
	margin-top: 9px;
}

#u5480
{
	z-index: 9;
	width: 258px;
	top: 5260px;
	left: -68px;
}

#u5481
{
	z-index: 10;
	width: 198px;
	margin-right: -10000px;
	padding: 24px 30px 36.49950000000081px;
}

#u5483-6
{
	z-index: 11;
	width: 198px;
	min-height: 70px;
}

#u5484-4
{
	z-index: 18;
	width: 196px;
	min-height: 127px;
	margin-left: 2px;
	margin-top: 149px;
}

#u5482
{
	z-index: 17;
	width: 198px;
	height: 145px;
	margin-right: -10000px;
	margin-top: 81px;
	left: 30px;
}

#u5485
{
	z-index: 22;
	width: 258px;
	top: 5260px;
	left: 205px;
}

#u5489
{
	z-index: 23;
	width: 198px;
	margin-right: -10000px;
	padding: 24px 30px 36.49950000000081px;
}

#u5486-6
{
	z-index: 24;
	width: 198px;
	min-height: 70px;
}

#u5487-4
{
	z-index: 31;
	width: 196px;
	min-height: 127px;
	margin-left: 2px;
	margin-top: 149px;
}

#u5488
{
	z-index: 30;
	width: 198px;
	height: 145px;
	margin-right: -10000px;
	margin-top: 81px;
	left: 30px;
}

#u5490
{
	z-index: 35;
	width: 258px;
	top: 5260px;
	left: 478px;
}

#u5492
{
	z-index: 36;
	width: 198px;
	margin-right: -10000px;
	padding: 24px 30px 36.49950000000081px;
}

#u5491-6
{
	z-index: 37;
	width: 198px;
	min-height: 70px;
}

#u5494-4
{
	z-index: 44;
	width: 196px;
	min-height: 127px;
	margin-left: 2px;
	margin-top: 149px;
}

#u5484-4.MuseLinkActive,#u5487-4.MuseLinkActive,#u5494-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 127px;
	width: 196px;
	margin: 149px 0px 0px 2px;
}

#u5493
{
	z-index: 43;
	width: 198px;
	height: 145px;
	margin-right: -10000px;
	margin-top: 81px;
	left: 30px;
}

#u5495
{
	z-index: 48;
	width: 258px;
	top: 5260px;
	left: 752px;
}

#u5497
{
	z-index: 49;
	width: 198px;
	margin-right: -10000px;
	padding: 24px 30px 75.49950000000081px;
}

#u5498-6
{
	z-index: 50;
	width: 198px;
	min-height: 70px;
}

#u5499-6
{
	z-index: 57;
	width: 196px;
	min-height: 88px;
	margin-left: 2px;
	margin-top: 149px;
}

#u5499-6.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 88px;
	width: 196px;
	margin: 149px 0px 0px 2px;
}

#u5496
{
	z-index: 56;
	width: 198px;
	height: 145px;
	margin-right: -10000px;
	margin-top: 81px;
	left: 30px;
}

#pu12384
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 541px;
}

#u12384
{
	z-index: 65;
	min-height: 177px;
	padding-bottom: 42px;
}

#pu16341
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 40px;
	margin-left: 77px;
}

#u16341
{
	z-index: 183;
	width: 99px;
	margin-left: 58px;
}

#u16338-4
{
	z-index: 177;
	width: 216px;
	min-height: 22px;
	margin-top: 16px;
}

#pu16343
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 52px;
	margin-left: 333px;
}

#u16343
{
	z-index: 185;
	width: 87px;
	margin-left: 65px;
}

#u16337-4
{
	z-index: 173;
	width: 216px;
	min-height: 22px;
	margin-top: 16px;
}

#pu16339
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 588px;
}

#u16339
{
	z-index: 181;
	width: 91px;
	margin-left: 59px;
}

#u16336-4
{
	z-index: 169;
	width: 216px;
	min-height: 22px;
	margin-top: 17px;
}

#u12384-bw
{
	z-index: 65;
	min-height: 177px;
	margin-top: -1px;
}

#pamphletu15386
{
	z-index: 80;
	width: 0.01px;
	height: 130px;
	padding-bottom: 7px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 856px;
}

#u15387
{
	z-index: 81;
	width: 192px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u15388
{
	width: 192px;
	padding-top: 9px;
	padding-right: 8px;
	padding-bottom: 7px;
	top: -9px;
}

#u15388.PamphletThumbSelected
{
	width: 192px;
	min-height: 0px;
	margin: 0px;
}

#u16351
{
	z-index: 87;
	width: 84px;
	margin-left: 56px;
}

#u15388.PamphletThumbSelected #u16351
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px 0px 56px;
}

#u15390-4
{
	z-index: 83;
	width: 192px;
	margin-top: 17px;
}

#u15388.PamphletThumbSelected #u15390-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 192px;
	margin: 17px 0px 0px;
}

#u15391popup
{
	z-index: 89;
}

#u15391
{
	width: 1002px;
	top: -429px;
	left: -779px;
}

#u15392
{
	z-index: 90;
	width: 1002px;
	height: 580px;
	margin-right: -10000px;
}

#u15425
{
	z-index: 91;
	width: 443px;
	height: 514px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 38px;
}

#pu15421
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 75px;
	margin-left: 572px;
}

#u15421
{
	z-index: 157;
	width: 367px;
	margin-left: 1px;
}

#u15422-4
{
	z-index: 165;
	width: 322px;
	margin-left: 1px;
	margin-top: 6px;
	margin-bottom: 6px;
}

#u15424-4
{
	z-index: 158;
	width: 367px;
	min-height: 22px;
	margin-top: 6px;
}

#u15423-3
{
	z-index: 162;
	width: 163px;
	min-height: 9px;
	margin-left: 81px;
	margin-top: 16px;
}

#u15393
{
	z-index: 92;
	width: 367px;
	padding: 1px;
	top: -4px;
	margin-bottom: -4px;
}

#widgetu15396
{
	z-index: 93;
	width: 0.01px;
	height: 297px;
}

#widgetu15397
{
	z-index: 94;
	width: 369px;
	height: 37px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu15306.fld-err-st,#widgetu15397.fld-err-st
{
	width: 369px;
	height: 37px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u15398-4
{
	z-index: 95;
	width: 355px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu15314.fld-err-st #u15317-4,#widgetu15397:hover #u15398-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15397.focus-st #u15398-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15415
{
	z-index: 99;
	width: 369px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 50px;
	left: -1px;
}

#widgetu15321.fld-err-st,#widgetu15415.fld-err-st
{
	width: 369px;
	height: 37px;
	min-height: 0px;
	margin: 50px -10000px 0px 0px;
}

#u15417-4
{
	z-index: 100;
	width: 355px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu15397.fld-err-st #u15398-4,#widgetu15415:hover #u15417-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15415.focus-st #u15417-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#u15420-4
{
	z-index: 104;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 268px;
	left: 140px;
}

#u15405-4
{
	z-index: 108;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 268px;
	left: 140px;
}

#u15406-4
{
	z-index: 112;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 268px;
	left: 140px;
}

#widgetu15305.frm-sub-st #u15320-4,#widgetu15305.frm-subm-err-st #u15318-4,#widgetu15305.frm-subm-ok-st #u15319-4,#widgetu15396.frm-sub-st #u15420-4,#widgetu15396.frm-subm-err-st #u15405-4,#widgetu15396.frm-subm-ok-st #u15406-4
{
	min-height: 25px;
}

#u15419-17
{
	z-index: 116;
	min-height: 33px;
	width: 131px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 265px;
}

#widgetu15407
{
	z-index: 133;
	width: 168px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 188px;
	left: -1px;
}

#widgetu15310.fld-err-st,#widgetu15407.fld-err-st
{
	width: 168px;
	height: 38px;
	min-height: 0px;
	margin: 188px -10000px 0px 0px;
}

#u15409-4
{
	z-index: 134;
	width: 154px;
	min-height: 21px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu15310.fld-err-st #u15313-4,#widgetu15407:hover #u15409-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15407.focus-st #u15409-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15407.fld-err-st #u15409-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15310_input,#widgetu15310_prompt,#widgetu15407_input,#widgetu15407_prompt
{
	width: 154px;
	min-height: 21px;
	padding: 9px 6px 6px;
}

#widgetu15411
{
	z-index: 138;
	width: 369px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 101px;
	left: -1px;
}

#widgetu15314.fld-err-st,#widgetu15411.fld-err-st
{
	width: 369px;
	height: 37px;
	min-height: 0px;
	margin: 101px -10000px 0px 0px;
}

#u15413-4
{
	z-index: 139;
	width: 355px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu15415.fld-err-st #u15417-4,#widgetu15411:hover #u15413-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15411.focus-st #u15413-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15411.fld-err-st #u15413-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15306_input,#widgetu15306_prompt,#widgetu15321_input,#widgetu15321_prompt,#widgetu15314_input,#widgetu15314_prompt,#widgetu15397_input,#widgetu15397_prompt,#widgetu15415_input,#widgetu15415_prompt,#widgetu15411_input,#widgetu15411_prompt
{
	width: 355px;
	min-height: 20px;
	padding: 9px 6px 6px;
}

#widgetu15401
{
	z-index: 143;
	width: 196px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 172px;
}

#widgetu15326.fld-err-st,#widgetu15401.fld-err-st
{
	width: 196px;
	height: 37px;
	min-height: 0px;
	margin: 188px -10000px 0px 0px;
}

#u15404-4
{
	z-index: 144;
	width: 182px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu15326.fld-err-st #u15329-4,#widgetu15401:hover #u15404-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15401.focus-st #u15404-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15401.fld-err-st #u15404-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#widgetu15326_input,#widgetu15326_prompt,#widgetu15401_input,#widgetu15401_prompt
{
	width: 182px;
	min-height: 20px;
	padding: 9px 6px 6px;
}

#widgetu15306:hover #widgetu15306_input,#widgetu15306.focus-st #widgetu15306_input,#widgetu15306.fld-err-st #widgetu15306_input,#widgetu15306:hover #widgetu15306_prompt,#widgetu15306.focus-st #widgetu15306_prompt,#widgetu15306.fld-err-st #widgetu15306_prompt,#widgetu15321:hover #widgetu15321_input,#widgetu15321.focus-st #widgetu15321_input,#widgetu15321.fld-err-st #widgetu15321_input,#widgetu15321:hover #widgetu15321_prompt,#widgetu15321.focus-st #widgetu15321_prompt,#widgetu15321.fld-err-st #widgetu15321_prompt,#widgetu15310:hover #widgetu15310_input,#widgetu15310.focus-st #widgetu15310_input,#widgetu15310.fld-err-st #widgetu15310_input,#widgetu15310:hover #widgetu15310_prompt,#widgetu15310.focus-st #widgetu15310_prompt,#widgetu15310.fld-err-st #widgetu15310_prompt,#widgetu15314:hover #widgetu15314_input,#widgetu15314.focus-st #widgetu15314_input,#widgetu15314.fld-err-st #widgetu15314_input,#widgetu15314:hover #widgetu15314_prompt,#widgetu15314.focus-st #widgetu15314_prompt,#widgetu15314.fld-err-st #widgetu15314_prompt,#widgetu15326:hover #widgetu15326_input,#widgetu15326.focus-st #widgetu15326_input,#widgetu15326.fld-err-st #widgetu15326_input,#widgetu15326:hover #widgetu15326_prompt,#widgetu15326.focus-st #widgetu15326_prompt,#widgetu15326.fld-err-st #widgetu15326_prompt,#widgetu15397:hover #widgetu15397_input,#widgetu15397.focus-st #widgetu15397_input,#widgetu15397.fld-err-st #widgetu15397_input,#widgetu15397:hover #widgetu15397_prompt,#widgetu15397.focus-st #widgetu15397_prompt,#widgetu15397.fld-err-st #widgetu15397_prompt,#widgetu15415:hover #widgetu15415_input,#widgetu15415.focus-st #widgetu15415_input,#widgetu15415.fld-err-st #widgetu15415_input,#widgetu15415:hover #widgetu15415_prompt,#widgetu15415.focus-st #widgetu15415_prompt,#widgetu15415.fld-err-st #widgetu15415_prompt,#widgetu15407:hover #widgetu15407_input,#widgetu15407.focus-st #widgetu15407_input,#widgetu15407.fld-err-st #widgetu15407_input,#widgetu15407:hover #widgetu15407_prompt,#widgetu15407.focus-st #widgetu15407_prompt,#widgetu15407.fld-err-st #widgetu15407_prompt,#widgetu15411:hover #widgetu15411_input,#widgetu15411.focus-st #widgetu15411_input,#widgetu15411.fld-err-st #widgetu15411_input,#widgetu15411:hover #widgetu15411_prompt,#widgetu15411.focus-st #widgetu15411_prompt,#widgetu15411.fld-err-st #widgetu15411_prompt,#widgetu15401:hover #widgetu15401_input,#widgetu15401.focus-st #widgetu15401_input,#widgetu15401.fld-err-st #widgetu15401_input,#widgetu15401:hover #widgetu15401_prompt,#widgetu15401.focus-st #widgetu15401_prompt,#widgetu15401.fld-err-st #widgetu15401_prompt
{
	padding-top: 9px;
	padding-bottom: 6px;
}

#u15394-4
{
	z-index: 148;
	width: 367px;
	min-height: 28px;
	top: -147px;
	margin-bottom: -28px;
}

#u15395-5
{
	z-index: 152;
	width: 367px;
	min-height: 28px;
	top: -66px;
	margin-bottom: -28px;
}

#u12385
{
	z-index: 66;
	min-height: 59px;
	padding-bottom: 17px;
}

#u12384_align_to_page,#u12385_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u12386-6
{
	z-index: 67;
	width: 200px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 45px;
}

#u12395-7
{
	z-index: 73;
	width: 352px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 784px;
}

#u12385-bw
{
	z-index: 66;
	min-height: 59px;
	margin-top: 1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 950px;
}

#page .verticalspacer
{
	clear: both;
}

