.version.estilo_de_vida /* version checker */
{
	color: #0000FF;
	background-color: #D90C12;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #F1F1F1;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2884.700000000006px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -529px;
	width: 0.01px;
}

#u11411
{
	z-index: 59;
	height: 524px;
	background: transparent url("../../images/untitled-1.jpg") no-repeat center bottom;
}

#u11411-bw
{
	z-index: 59;
	height: 524px;
}

#u11415
{
	z-index: 61;
	min-height: 312.75975609756114px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#B2000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#B2000000', GradientType=0)";
	padding: 184px 19px 27.240243902438863px 6px;
}

#u11529-4
{
	z-index: 84;
	width: 240px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 45px;
	text-align: right;
	text-transform: uppercase;
	font-size: 50px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	margin-left: 115px;
	margin-top: 80px;
	position: relative;
}

#u11532-4
{
	z-index: 112;
	width: 224px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: right;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 131px;
	margin-top: 11px;
	position: relative;
}

#u19420
{
	z-index: 314;
	width: 99px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 27px;
	position: relative;
}

#u11415-bw
{
	z-index: 61;
	min-height: 312.75975609756114px;
}

#u11531-4
{
	z-index: 100;
	width: 157px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,3);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,3);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
	left: 150px;
}

#u11533-3
{
	z-index: 122;
	width: 163px;
	min-height: 9px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 1px;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 17px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 334px;
	left: 197px;
	border-width: 2px 0px 0px;
}

#pamphletu18807
{
	z-index: 162;
	width: 0.01px;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 385px;
	left: 196px;
}

#u18810
{
	position: absolute;
	width: 424px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: -159px;
	left: -218px;
	-pie-background: rgba(255,255,255,0.9);
}

#u18810popup
{
	z-index: 163;
}

#u18811
{
	z-index: 164;
	width: 380px;
	height: 629px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: #999999;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 48px;
	padding-bottom: 26px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u18815-4
{
	z-index: 188;
	width: 322px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
	font-size: 33px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-1,6);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-1,6);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,-1,6);
	margin-left: 43px;
	margin-top: 6px;
	margin-bottom: 6px;
	position: relative;
}

#pu18812-4
{
	width: 0.01px;
	margin-left: 31px;
	margin-top: 10px;
}

#u18812-4
{
	z-index: 181;
	width: 334px;
	min-height: 78px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u18813-3
{
	z-index: 185;
	width: 163px;
	min-height: 9px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 1px;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 17px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 86px;
	border-width: 2px 0px 0px;
}

#u18814-16
{
	z-index: 165;
	width: 380px;
	min-height: 472px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	margin-top: 16px;
	position: relative;
}

#u18814-2,#u18814-3,#u18814-5,#u18814-6,#u18814-8,#u18814-9,#u18814-11,#u18814-12
{
	text-align: justify;
	padding-right: 22px;
	padding-left: 22px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u18814-14
{
	text-align: center;
	padding-right: 22px;
	padding-left: 22px;
	font-family: lato, sans-serif;
	font-weight: 900;
}

#u18818
{
	z-index: 192;
	width: 165px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -1px;
}

#u18819
{
	position: absolute;
	width: 164px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: -4px;
	left: 1px;
}

#u18819:hover
{
	border-color: #999999;
	width: 164px;
	min-height: 0px;
	margin: 0px;
}

#u18820-4
{
	z-index: 194;
	width: 161px;
	min-height: 38px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 1px;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 17px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -1px;
}

#u18819:hover #u18820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 161px;
	margin: 4px -10000px 0px 0px;
}

#u18819.PamphletThumbSelected #u18820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 161px;
	margin: 4px -10000px 0px 0px;
}

#u18821
{
	position: absolute;
	width: 49px;
	border-width: 1px;
	border-style: solid;
	border-color: #6C6C6C;
	background-color: transparent;
	border-radius: 1px;
	top: -127px;
	left: 123px;
}

#u18821:hover
{
	border-color: #6B6B6B;
	background-color: #999999;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u18821:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u18822-4
{
	z-index: 199;
	width: 38px;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	font-size: 44px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u7367,#u7367-bw
{
	z-index: 317;
	height: 34px;
}

#u7443,#u7443-bw
{
	z-index: 318;
	height: 34px;
}

#u7369
{
	z-index: 319;
	width: 35px;
	margin-right: -10000px;
	margin-top: 5px;
}

#menuu7371
{
	z-index: 321;
	width: 184px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 196px;
}

#u7379
{
	width: 184px;
	min-height: 28px;
	margin-right: -10000px;
}

#u7380
{
	width: 184px;
	padding-bottom: 10px;
}

#u7380:hover
{
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7380.MuseMenuActive
{
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u7381-4
{
	width: 34px;
	min-height: 18px;
	margin-right: -10000px;
	top: 5px;
	left: 68px;
}

#u7380:hover #u7381-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u7380.MuseMenuActive #u7381-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u7383
{
	z-index: 328;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 7px;
	left: 102px;
}

#u7380:hover #u7383
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7380.MuseMenuActive #u7383
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7384
{
	width: 180px;
	top: 28px;
}

#u7385,#u7402
{
	width: 180px;
}

#u7403
{
	width: 178px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u7403:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7403.MuseMenuActive
{
	width: 178px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7405-6
{
	width: 169px;
	min-height: 476px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u7403:hover #u7405-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 476px;
	width: 169px;
	margin: 0px -10000px 0px 0px;
}

#u7403.MuseMenuActive #u7405-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 476px;
	width: 169px;
	margin: 0px -10000px 0px 0px;
}

#u17925:hover
{
	min-height: 0px;
	margin: 0px;
}

#u17906
{
	z-index: 339;
	width: 168px;
}

#u17910
{
	z-index: 340;
	width: 168px;
	height: 269px;
	margin-right: -10000px;
	margin-top: 94px;
}

#u17908
{
	z-index: 341;
	width: 28px;
	margin-right: -10000px;
	margin-top: 381px;
	left: 114px;
}

#u17913
{
	z-index: 343;
	width: 27px;
	margin-right: -10000px;
	margin-top: 381px;
	left: 75px;
}

#u17919-4
{
	z-index: 345;
	width: 136px;
	margin-right: -10000px;
	margin-top: 429px;
	left: 19px;
}

#u17918-4
{
	z-index: 349;
	width: 168px;
	min-height: 47px;
	margin-right: -10000px;
}

#u17907-4
{
	z-index: 353;
	width: 168px;
	min-height: 49px;
	margin-right: -10000px;
	margin-top: 50px;
}

#u17917-6
{
	z-index: 357;
	width: 168px;
	margin-right: -10000px;
	margin-top: 116px;
}

#u17921-6
{
	z-index: 363;
	width: 168px;
	margin-right: -10000px;
	margin-top: 174px;
}

#u17916-6
{
	z-index: 369;
	width: 168px;
	margin-right: -10000px;
	margin-top: 233px;
}

#u17915-6
{
	z-index: 375;
	width: 168px;
	margin-right: -10000px;
	margin-top: 292px;
}

#u17920
{
	z-index: 381;
	width: 162px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 468px;
	left: 1px;
}

#u17911
{
	z-index: 382;
	width: 31px;
	margin-right: -10000px;
	margin-top: 379px;
	left: 32px;
}

#pamphletu17926
{
	z-index: 385;
	width: 0.01px;
	height: 20px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 41px;
}

#u17967
{
	z-index: 386;
	width: 157px;
	margin-right: -10000px;
}

#u17968
{
	width: 157px;
	padding-bottom: 3px;
}

#u17969-4
{
	z-index: 388;
	width: 157px;
	margin-right: -10000px;
}

#u17968.PamphletThumbSelected #u17969-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 157px;
	margin: 0px -10000px 0px 0px;
}

#u17927popup
{
	z-index: 392;
}

#u17927
{
	width: 424px;
	padding-bottom: 44px;
	top: 23px;
	left: -63px;
}

#u17928
{
	z-index: 393;
	width: 248px;
	height: 427px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
	padding: 50px 60px 46px 72px;
}

#u18712
{
	z-index: 459;
	width: 247px;
}

#u18713-4
{
	z-index: 467;
	width: 247px;
}

#u18714-4
{
	z-index: 460;
	width: 247px;
	min-height: 22px;
	margin-top: 9px;
}

#u18715-3
{
	z-index: 464;
	width: 163px;
	min-height: 14px;
	margin-left: 45px;
	margin-top: 18px;
}

#u18684
{
	z-index: 394;
	width: 245px;
	margin-left: 1px;
	margin-top: 10px;
	padding: 1px 1px 0px;
}

#widgetu18685
{
	z-index: 395;
	width: 0.01px;
	height: 323px;
}

#widgetu18692
{
	z-index: 396;
	width: 247px;
	height: 37px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u18695-4
{
	z-index: 397;
	width: 233px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18692:hover #u18695-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18692.focus-st #u18695-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18706
{
	z-index: 401;
	width: 247px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 50px;
	left: -1px;
}

#u18708-4
{
	z-index: 402;
	width: 233px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18692.fld-err-st #u18695-4,#widgetu18706:hover #u18708-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18706.focus-st #u18708-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#u18691-4
{
	z-index: 406;
	width: 105px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 140px;
}

#u18700-4
{
	z-index: 410;
	width: 105px;
	min-height: 42px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 140px;
}

#u18690-4
{
	z-index: 414;
	width: 105px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 140px;
}

#u18705-17
{
	z-index: 418;
	min-height: 33px;
	width: 131px;
	margin-right: -10000px;
	margin-top: 275px;
}

#widgetu18686
{
	z-index: 435;
	width: 116px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 188px;
	left: -1px;
}

#u18688-4
{
	z-index: 436;
	width: 102px;
	min-height: 21px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18686:hover #u18688-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18686.focus-st #u18688-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18701
{
	z-index: 440;
	width: 247px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 101px;
	left: -1px;
}

#u18702-4
{
	z-index: 441;
	width: 233px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18706.fld-err-st #u18708-4,#widgetu18701:hover #u18702-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18701.focus-st #u18702-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18696
{
	z-index: 445;
	width: 126px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 120px;
}

#u18697-4
{
	z-index: 446;
	width: 112px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18696:hover #u18697-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18696.focus-st #u18697-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u18710-4
{
	z-index: 450;
	width: 245px;
	min-height: 28px;
	top: -173px;
	margin-bottom: -28px;
}

#u18711-5
{
	z-index: 454;
	width: 245px;
	min-height: 28px;
	top: -92px;
	margin-bottom: -28px;
}

#u17965
{
	width: 48px;
	top: 45px;
	left: 287px;
}

#u17966-4
{
	z-index: 472;
	width: 48px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u17966-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 48px;
	margin: 6px -10000px 0px 0px;
}

#u11412
{
	z-index: 58;
	min-height: 653.6000000000001px;
	padding-top: 9px;
	padding-right: 26px;
	padding-bottom: 4.399999999999864px;
	background: transparent url("../../images/estilo2.jpg") no-repeat center bottom;
}

#voltar-estilo-vida,#estilovidamais
{
	position: relative;
}

#u11417
{
	z-index: 63;
	width: 279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 50px;
	margin-top: 13px;
	position: relative;
}

#pamphletu11418
{
	z-index: 64;
	width: 0.01px;
	height: 153px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u11425
{
	z-index: 65;
	width: 153px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 64px;
}

#u11426
{
	position: absolute;
	width: 153px;
	border-color: #DEDEDE;
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	top: -72px;
	left: -64px;
	padding: 72px 62px 13.450000000000273px 64px;
}

#u11427
{
	z-index: 67;
	width: 80px;
	height: 39px;
	margin-left: 36px;
	position: relative;
	background: transparent url("../../images/play-circle-u11427-fr.png") no-repeat center center;
	background-size: contain;
}

#u11426.PamphletThumbSelected #u11427
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 80px;
	height: 39px;
	min-height: 0px;
	margin: 0px 0px 0px 36px;
	background-size: contain;
}

#u19410-4
{
	z-index: 68;
	width: 151px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 17px;
	text-align: center;
	font-size: 13px;
	margin-top: 9px;
	position: relative;
}

#u11426.PamphletThumbSelected #u19410-4
{
	border-width: 2px;
	border-style: solid;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 150px;
	margin: 8px 0px 0px -1px;
}

#u19410-2
{
	padding-top: 8px;
}

#u11421
{
	position: absolute;
	width: 431px;
	background-color: #272727;
	background-color: rgba(16,16,16,0.9);
	padding-bottom: 44px;
	top: -148px;
	left: -70px;
	-pie-background: rgba(16,16,16,0.9);
}

#u11421popup
{
	z-index: 72;
}

#u11422
{
	z-index: 73;
	width: 387px;
	height: 285px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u11423
{
	z-index: 74;
	width: 387px;
	min-height: 263px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u11419
{
	position: absolute;
	width: 125px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 137px;
	left: 205px;
}

#u11420-4
{
	z-index: 76;
	width: 109px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u11544-6
{
	z-index: 88;
	width: 286px;
	min-height: 98px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 47px;
	text-align: left;
	text-transform: uppercase;
	font-size: 50px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	margin-left: 19px;
	margin-top: 90px;
	position: relative;
}

#u11543-3
{
	z-index: 125;
	width: 163px;
	min-height: 9px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 1px;
	color: #FFFFFF;
	line-height: 15px;
	text-align: left;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 17px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	margin-left: 19px;
	margin-top: 5px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u11433
{
	z-index: 80;
	width: 99px;
	background-color: transparent;
	margin-left: 255px;
	margin-top: 85px;
	position: relative;
}

#u18823-4
{
	z-index: 203;
	width: 158px;
	min-height: 37px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 12px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 18px;
	margin-top: 24px;
	position: relative;
}

#u11412-bw
{
	z-index: 58;
	min-height: 653.6000000000001px;
}

#u11545-4
{
	z-index: 104;
	width: 157px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,3);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,3);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 265px;
	left: 19px;
}

#u11559-4
{
	z-index: 148;
	width: 322px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,6);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,6);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,6);
	margin-left: 28px;
	margin-top: 63px;
	margin-bottom: 6px;
	position: relative;
}

#pu11557-4
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 4px;
}

#u11557-4
{
	z-index: 141;
	width: 314px;
	min-height: 78px;
	background-color: transparent;
	color: #081402;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u11558-3
{
	z-index: 145;
	width: 163px;
	min-height: 9px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 17px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 72px;
	border-width: 2px 0px 0px;
}

#pu11551
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 19px;
}

#u11551
{
	z-index: 136;
	width: 134px;
	height: 155px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/festival_derose-u11551-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u11546
{
	z-index: 132;
	width: 207px;
	height: 155px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 136px;
	background: #F1F1F1 url("../../images/img_1974-u11546-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#u11552
{
	z-index: 137;
	width: 67px;
	height: 122px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #F1F1F1 url("../../images/surf-u11552-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#u11554
{
	z-index: 138;
	width: 67px;
	height: 122px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 68px;
	background: #F1F1F1 url("../../images/16681828-u11554-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u11547
{
	z-index: 133;
	width: 207px;
	height: 122px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 136px;
	background: #F1F1F1 url("../../images/img_1612-u11547-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u11555
{
	z-index: 139;
	width: 170px;
	height: 155px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #F1F1F1 url("../../images/jump-u11555-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#u11556
{
	z-index: 140;
	width: 170px;
	height: 155px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 173px;
	background: #F1F1F1 url("../../images/img_5337-u11556-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu11552,#pu11555,#pu11548
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 3px;
}

#u11548
{
	z-index: 134;
	width: 171px;
	height: 122px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #F1F1F1 url("../../images/img_1902-u11548-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u11549
{
	z-index: 135;
	width: 170px;
	height: 122px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 174px;
	background: #F1F1F1 url("../../images/movimentos-paulista-metodo-derose-alta-performance-jardins.jpg") no-repeat left center;
	background-size: cover;
}

#u11560
{
	z-index: 152;
	width: 380px;
	background-color: transparent;
	margin-top: 27px;
	position: relative;
}

#pu11706
{
	width: 0.01px;
	margin-top: 27px;
}

#u11706
{
	z-index: 60;
	height: 775px;
	background: transparent url("../../images/estilo3.jpg") no-repeat center bottom;
}

#u11706-bw
{
	z-index: 60;
	height: 775px;
}

#u11707
{
	z-index: 62;
	min-height: 465.8076543356335px;
	background: -webkit-gradient(linear, left center, right center, from(rgba(0,0,0,0.28)),color-stop(100%, rgba(0,0,0,0.56)));
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.28) ,rgba(0,0,0,0.56) 100%);
	background: linear-gradient(to right,rgba(0,0,0,0.28) ,rgba(0,0,0,0.56) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#47000000, endColorstr=#8E000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#47000000', endColorstr='#8E000000', GradientType=1)";
	padding: 272px 26px 37.192345664366485px 19px;
	background-size: 100% auto;
}

#u11708
{
	z-index: 207;
	width: 107px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 112px;
	position: relative;
}

#pamphletu11709
{
	z-index: 208;
	width: 0.01px;
	height: 67px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u11710
{
	z-index: 209;
	width: 103px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 4px;
}

#u11711
{
	position: absolute;
	width: 107px;
	border-color: #DEDEDE;
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-bottom: 14px;
	top: -9px;
	left: -4px;
}

#u11712
{
	z-index: 211;
	width: 103px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 3px;
	background: transparent url("../../images/play-circle-u11712-fr.png") no-repeat center center;
	background-size: contain;
}

#u11711.PamphletThumbSelected #u11712
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 103px;
	height: 57px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
	background-size: contain;
}

#u11716
{
	position: absolute;
	width: 850px;
	background-color: #272727;
	background-color: rgba(16,16,16,0.9);
	padding-bottom: 44px;
	top: -616px;
	left: -803px;
	-pie-background: rgba(16,16,16,0.9);
}

#u11716popup
{
	z-index: 212;
}

#u11717
{
	z-index: 213;
	width: 806px;
	height: 562px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u18825
{
	z-index: 214;
	width: 743px;
	min-height: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u11722
{
	position: absolute;
	width: 125px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: -78px;
	left: -154px;
}

#u11723-4
{
	z-index: 216;
	width: 109px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u11725-6
{
	z-index: 94;
	width: 286px;
	min-height: 98px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 47px;
	text-align: left;
	text-transform: uppercase;
	font-size: 50px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	margin-top: 126px;
	position: relative;
}

#pu11727-6
{
	width: 0.01px;
	margin-top: 11px;
	position: relative;
}

#u11727-6
{
	z-index: 116;
	width: 181px;
	min-height: 91px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u11729
{
	z-index: 82;
	width: 99px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 236px;
}

#u11707-bw
{
	z-index: 62;
	min-height: 465.8076543356335px;
}

#u11724-4
{
	z-index: 108;
	width: 157px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,3);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,3);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 446px;
	left: 19px;
}

#u11726-3
{
	z-index: 128;
	width: 163px;
	min-height: 9px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 1px;
	color: #FFFFFF;
	line-height: 15px;
	text-align: left;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 17px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 581px;
	left: 19px;
	border-width: 2px 0px 0px;
}

#u11665-8
{
	z-index: 154;
	min-height: 138px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
}

#u11665-6
{
	letter-spacing: 1px;
}

#u11665-8-bw
{
	z-index: 154;
	min-height: 138px;
	margin-top: 79px;
}

#pu18869
{
	width: 0.01px;
	margin-top: -7px;
}

#u18869
{
	z-index: 221;
	min-height: 934.906295325236px;
	padding-bottom: 0px;
	background: #000000 url("../../images/blackboard.jpg") no-repeat center center;
	background-size: cover;
}

#u18869_position_content
{
	padding-top: 111px;
	padding-bottom: 47px;
}

#u18861-6
{
	z-index: 292;
	width: 229px;
	min-height: 96px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 50px;
	text-align: left;
	text-transform: uppercase;
	font-size: 55px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	margin-left: 38px;
	position: relative;
}

#u18863-3
{
	z-index: 302;
	width: 163px;
	min-height: 9px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 1px;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 17px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	margin-left: 39px;
	margin-top: 9px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u11533,#u18813,#u18820-2,#u11543,#u11558,#u11726,#u18863
{
	padding-top: 10px;
}

#u18867
{
	z-index: 313;
	width: 373px;
	height: 330px;
	margin-top: 129px;
	position: relative;
	background: transparent url("../../images/globe-real-hashtags-u18867-fr.png") no-repeat left top;
	background-size: contain;
}

#u18865
{
	z-index: 311;
	width: 156px;
	background-color: transparent;
	margin-left: 120px;
	margin-top: 49px;
	position: relative;
}

#u18869-bw
{
	z-index: 221;
	min-height: 934.906295325236px;
}

#u18862-4
{
	z-index: 298;
	width: 322px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,6);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,6);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,0,6);
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 38px;
}

#u11531,#u18815,#u11545,#u11559,#u11724,#u18862
{
	font-family: yellowtail, cursive;
	font-weight: 400;
}

#u18864-6
{
	z-index: 305;
	width: 255px;
	min-height: 91px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 38px;
}

#u11727-4,#u18864-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11727-2,#u18864-2
{
	font-size: 10px;
	line-height: 12px;
}

#u11727,#u11727-3,#u18864,#u18864-3
{
	line-height: 14px;
}

#pu18827
{
	width: 0.01px;
	margin-top: 2px;
}

#u18827
{
	z-index: 220;
	min-height: 500px;
	padding-bottom: 270px;
	background: #000000 url("../../images/diego-lifestyle.jpg") no-repeat center center;
	background-size: cover;
}

#u18831
{
	z-index: 232;
	width: 308px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 30px;
}

#u18831_position_content
{
	padding-top: 1px;
}

#widgetu18833
{
	z-index: 233;
	width: 0.01px;
	height: 301px;
	margin-left: 11px;
	position: relative;
}

#widgetu18844
{
	z-index: 234;
	width: 298px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu18844.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 298px;
	height: 37px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u18845-4
{
	z-index: 235;
	width: 284px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18844:hover #u18845-4
{
	border-color: #6B6B6B;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 284px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18844.focus-st #u18845-4
{
	border-color: #6B6B6B;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 284px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18844.non-empty-st #u18845-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18844:hover #u18845-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18844.focus-st #u18845-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18834
{
	z-index: 239;
	width: 298px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: -1px;
}

#widgetu18834.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 298px;
	height: 37px;
	min-height: 0px;
	margin: 50px -10000px 0px 0px;
}

#u18836-4
{
	z-index: 240;
	width: 284px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18834:hover #u18836-4
{
	border-color: #6B6B6B;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 284px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18834.focus-st #u18836-4
{
	border-color: #6B6B6B;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 284px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18834.non-empty-st #u18836-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18834:hover #u18836-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18834.focus-st #u18836-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#u18843-4
{
	z-index: 244;
	width: 152px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #000000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 140px;
}

#widgetu18833.frm-sub-st #u18843-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u18856-4
{
	z-index: 248;
	width: 152px;
	min-height: 28px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #000000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 140px;
}

#widgetu18833.frm-subm-err-st #u18856-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 32px;
}

#widgetu18833.frm-subm-err-st #u18856-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u18857-4
{
	z-index: 252;
	width: 152px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #000000;
	line-height: 12px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 140px;
}

#widgetu18833.frm-sub-st #u18843-4,#widgetu18833.frm-subm-ok-st #u18857-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu18833.frm-subm-ok-st #u18857-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u18842-17
{
	z-index: 256;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	background: url("../../images/u18842-17.png") no-repeat 0px 0px;
}

#u18842-17:hover
{
	background: url("../../images/u18842-17-r.png") no-repeat 0px 0px;
}

#u18842-17:active
{
	background: url("../../images/u18842-17-m.png") no-repeat 0px 0px;
}

#widgetu18833.frm-sub-st #u18842-17
{
	background: url("../../images/u18842-17-fs.png") no-repeat 0px 0px;
}

#widgetu18852
{
	z-index: 273;
	width: 130px;
	height: 38px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: -1px;
}

#widgetu18852.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 130px;
	height: 38px;
	min-height: 0px;
	margin: 193px -10000px 0px 0px;
}

#u18853-4
{
	z-index: 274;
	width: 116px;
	min-height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18852:hover #u18853-4
{
	border-color: #6B6B6B;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18852.focus-st #u18853-4
{
	border-color: #6B6B6B;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18852.fld-err-st #u18853-4
{
	border-color: #D7244C;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18852.non-empty-st #u18853-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18852:hover #u18853-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18852.focus-st #u18853-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18852_input,#widgetu18852_prompt
{
	width: 116px;
	min-height: 21px;
	color: #000000;
	text-align: left;
	font-family: hammersmith-one, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 9px 6px 6px;
}

#widgetu18838
{
	z-index: 278;
	width: 298px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: -1px;
}

#widgetu18838.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 298px;
	height: 37px;
	min-height: 0px;
	margin: 101px -10000px 0px 0px;
}

#u18841-4
{
	z-index: 279;
	width: 284px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18838:hover #u18841-4
{
	border-color: #6B6B6B;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 284px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18838.focus-st #u18841-4
{
	border-color: #6B6B6B;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 284px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18844.fld-err-st #u18845-4,#widgetu18834.fld-err-st #u18836-4,#widgetu18838.fld-err-st #u18841-4
{
	border-color: #D7244C;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 284px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18838.non-empty-st #u18841-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18838:hover #u18841-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18838.focus-st #u18841-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18844_input,#widgetu18844_prompt,#widgetu18834_input,#widgetu18834_prompt,#widgetu18838_input,#widgetu18838_prompt
{
	width: 284px;
	min-height: 20px;
	color: #000000;
	text-align: left;
	font-family: hammersmith-one, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 9px 6px 6px;
}

#widgetu18848
{
	z-index: 283;
	width: 158px;
	height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 135px;
}

#widgetu18848.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 158px;
	height: 37px;
	min-height: 0px;
	margin: 193px -10000px 0px 0px;
}

#u18851-4
{
	z-index: 284;
	width: 144px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18848:hover #u18851-4
{
	border-color: #6B6B6B;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 144px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18848.focus-st #u18851-4
{
	border-color: #6B6B6B;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 144px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18848.fld-err-st #u18851-4
{
	border-color: #D7244C;
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 144px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18848.non-empty-st #u18851-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18848:hover #u18851-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18848.focus-st #u18851-4 *
{
	color: #F1F1F1;
	font-style: normal;
}

#widgetu18844.fld-err-st #u18845-4 *,#widgetu18834.fld-err-st #u18836-4 *,#widgetu18852.fld-err-st #u18853-4 *,#widgetu18838.fld-err-st #u18841-4 *,#widgetu18848.fld-err-st #u18851-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu18848_input,#widgetu18848_prompt
{
	width: 144px;
	min-height: 20px;
	color: #000000;
	text-align: left;
	font-family: hammersmith-one, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 9px 6px 6px;
}

#widgetu18838.focus-st #widgetu18838_prompt,#widgetu18848.focus-st #widgetu18848_prompt
{
	padding-top: 9px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu18844.non-empty-st #widgetu18844_prompt,#widgetu18834.non-empty-st #widgetu18834_prompt,#widgetu18852.non-empty-st #widgetu18852_prompt,#widgetu18838.non-empty-st #widgetu18838_prompt,#widgetu18848.non-empty-st #widgetu18848_prompt
{
	visibility: hidden;
}

#u18832-4
{
	z-index: 288;
	width: 302px;
	min-height: 28px;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: left;
	text-transform: uppercase;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	font-style: normal;
	top: -147px;
	margin-bottom: -28px;
	position: relative;
}

#u18832-2
{
	padding-top: 3px;
}

#u18827-bw
{
	z-index: 220;
	min-height: 500px;
}

#u18829-6
{
	z-index: 222;
	min-height: 79px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-weight: 400;
}

#u18829-2
{
	font-size: 19px;
	text-transform: none;
	line-height: 23px;
	font-family: yellowtail, cursive;
}

#u18829-4
{
	font-size: 25px;
	text-transform: uppercase;
	line-height: 30px;
	letter-spacing: 1px;
	font-family: league-gothic, sans-serif;
}

#u18829-6-bw
{
	z-index: 222;
	min-height: 79px;
	margin-top: 91px;
}

#u18830-4
{
	z-index: 228;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 10px;
	font-family: josefin-slab, serif;
	font-weight: 400;
}

#u18830-4-bw
{
	z-index: 228;
	min-height: 20px;
	margin-top: 150px;
}

#pu11411,#pu11412,#pu7632
{
	width: 0.01px;
}

#u7632
{
	z-index: 2;
	min-height: 368.71207998009095px;
	padding: 64px 14px 114.28792001990905px 10px;
}

#pu16505
{
	width: 0.01px;
	margin-left: 13px;
	position: relative;
}

#u16505
{
	z-index: 19;
	width: 160px;
	margin-right: -10000px;
}

#u16506
{
	z-index: 20;
	width: 146px;
	margin-right: -10000px;
	padding: 7px 7px 8px;
}

#u16507-6
{
	z-index: 21;
	width: 146px;
	min-height: 41px;
	left: -1px;
}

#u16508
{
	z-index: 27;
	width: 146px;
	height: 97px;
	margin-top: 1px;
}

#u16514
{
	z-index: 38;
	width: 160px;
	margin-right: -10000px;
	left: 173px;
}

#u16515
{
	z-index: 39;
	width: 160px;
	margin-right: -10000px;
}

#u16517
{
	z-index: 40;
	width: 160px;
	padding-bottom: 106px;
	margin-right: -10000px;
}

#u16516-6
{
	z-index: 41;
	width: 131px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 15px;
}

#u16518
{
	z-index: 47;
	width: 147px;
	height: 98px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 7px;
}

#pu16519
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 10px;
	position: relative;
}

#u16519
{
	z-index: 48;
	width: 160px;
	margin-right: -10000px;
}

#u16520
{
	z-index: 49;
	width: 160px;
	margin-right: -10000px;
	margin-top: -1px;
}

#u16522
{
	z-index: 50;
	width: 160px;
	padding-bottom: 104px;
	margin-right: -10000px;
}

#u16521-6
{
	z-index: 51;
	width: 131px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 15px;
}

#u16523
{
	z-index: 57;
	width: 145px;
	height: 100px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 8px;
}

#u16509
{
	z-index: 28;
	width: 160px;
	margin-right: -10000px;
	left: 173px;
}

#u16510
{
	z-index: 29;
	width: 160px;
	margin-right: -10000px;
	margin-top: -1px;
}

#u16512
{
	z-index: 30;
	width: 160px;
	padding-bottom: 106px;
	margin-right: -10000px;
}

#u16511-6
{
	z-index: 31;
	width: 131px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 15px;
}

#u16513
{
	z-index: 37;
	width: 147px;
	height: 100px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 6px;
}

#u16842
{
	z-index: 3;
	width: 356px;
	margin-top: 30px;
}

#u7632-bw
{
	z-index: 2;
	min-height: 368.71207998009095px;
}

#pamphletu17970
{
	z-index: 476;
	width: 0.01px;
	height: 29px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 471px;
	left: 100px;
}

#u18011
{
	z-index: 477;
	width: 157px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 16px;
}

#u18012
{
	width: 192px;
	padding-bottom: 9px;
	top: -9px;
	left: -16px;
}

#u18013-4
{
	z-index: 479;
	width: 157px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 15px;
}

#u18012.PamphletThumbSelected #u18013-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 157px;
	margin: 8px -10000px 0px 0px;
}

#u17971popup
{
	z-index: 483;
}

#u17971
{
	width: 423px;
	padding-bottom: 44px;
	top: -529px;
	left: -121px;
}

#u17972
{
	z-index: 484;
	width: 248px;
	height: 427px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
	padding: 53px 59px 65px 72px;
}

#u18001
{
	z-index: 550;
	width: 247px;
}

#u18004-4
{
	z-index: 558;
	width: 247px;
}

#u18003-4
{
	z-index: 551;
	width: 247px;
	min-height: 22px;
	margin-top: 9px;
}

#u18002-3
{
	z-index: 555;
	width: 163px;
	min-height: 14px;
	margin-left: 45px;
	margin-top: 18px;
}

#u17973
{
	z-index: 485;
	width: 245px;
	margin-top: 10px;
	padding: 1px 1px 0px;
}

#widgetu17974
{
	z-index: 486;
	width: 0.01px;
	height: 323px;
}

#widgetu17984
{
	z-index: 487;
	width: 247px;
	height: 37px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu18692.fld-err-st,#widgetu17984.fld-err-st
{
	width: 247px;
	height: 37px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u17986-4
{
	z-index: 488;
	width: 233px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18701.fld-err-st #u18702-4,#widgetu17984:hover #u17986-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17984.focus-st #u17986-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17975
{
	z-index: 492;
	width: 247px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 50px;
	left: -1px;
}

#widgetu18706.fld-err-st,#widgetu17975.fld-err-st
{
	width: 247px;
	height: 37px;
	min-height: 0px;
	margin: 50px -10000px 0px 0px;
}

#u17976-4
{
	z-index: 493;
	width: 233px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu17984.fld-err-st #u17986-4,#widgetu17975:hover #u17976-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17975.focus-st #u17976-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#u17988-4
{
	z-index: 497;
	width: 105px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 140px;
}

#u17979-4
{
	z-index: 501;
	width: 105px;
	min-height: 42px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 140px;
}

#widgetu18685.frm-subm-err-st #u18700-4,#widgetu17974.frm-subm-err-st #u17979-4
{
	min-height: 46px;
}

#u17989-4
{
	z-index: 505;
	width: 105px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 140px;
}

#widgetu18685.frm-sub-st #u18691-4,#widgetu18685.frm-subm-ok-st #u18690-4,#widgetu17974.frm-sub-st #u17988-4,#widgetu17974.frm-subm-ok-st #u17989-4
{
	min-height: 25px;
}

#u17990-17
{
	z-index: 509;
	min-height: 33px;
	width: 131px;
	margin-right: -10000px;
	margin-top: 275px;
}

#widgetu17991
{
	z-index: 526;
	width: 116px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 188px;
	left: -1px;
}

#widgetu18686.fld-err-st,#widgetu17991.fld-err-st
{
	width: 116px;
	height: 38px;
	min-height: 0px;
	margin: 188px -10000px 0px 0px;
}

#u17994-4
{
	z-index: 527;
	width: 102px;
	min-height: 21px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18686.fld-err-st #u18688-4,#widgetu17991:hover #u17994-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17991.focus-st #u17994-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17991.fld-err-st #u17994-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18686_input,#widgetu18686_prompt,#widgetu17991_input,#widgetu17991_prompt
{
	width: 102px;
	min-height: 21px;
	padding: 9px 6px 6px;
}

#widgetu17995
{
	z-index: 531;
	width: 247px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 101px;
	left: -1px;
}

#widgetu18701.fld-err-st,#widgetu17995.fld-err-st
{
	width: 247px;
	height: 37px;
	min-height: 0px;
	margin: 101px -10000px 0px 0px;
}

#u17998-4
{
	z-index: 532;
	width: 233px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu17975.fld-err-st #u17976-4,#widgetu17995:hover #u17998-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17995.focus-st #u17998-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17995.fld-err-st #u17998-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18692_input,#widgetu18692_prompt,#widgetu18706_input,#widgetu18706_prompt,#widgetu18701_input,#widgetu18701_prompt,#widgetu17984_input,#widgetu17984_prompt,#widgetu17975_input,#widgetu17975_prompt,#widgetu17995_input,#widgetu17995_prompt
{
	width: 233px;
	min-height: 20px;
	padding: 9px 6px 6px;
}

#widgetu17980
{
	z-index: 536;
	width: 126px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 120px;
}

#widgetu18696.fld-err-st,#widgetu17980.fld-err-st
{
	width: 126px;
	height: 37px;
	min-height: 0px;
	margin: 188px -10000px 0px 0px;
}

#u17981-4
{
	z-index: 537;
	width: 112px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu18696.fld-err-st #u18697-4,#widgetu17980:hover #u17981-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17980.focus-st #u17981-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17980.fld-err-st #u17981-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#widgetu18696_input,#widgetu18696_prompt,#widgetu17980_input,#widgetu17980_prompt
{
	width: 112px;
	min-height: 20px;
	padding: 9px 6px 6px;
}

#widgetu18692:hover #widgetu18692_input,#widgetu18692.focus-st #widgetu18692_input,#widgetu18692.fld-err-st #widgetu18692_input,#widgetu18692:hover #widgetu18692_prompt,#widgetu18692.focus-st #widgetu18692_prompt,#widgetu18692.fld-err-st #widgetu18692_prompt,#widgetu18706:hover #widgetu18706_input,#widgetu18706.focus-st #widgetu18706_input,#widgetu18706.fld-err-st #widgetu18706_input,#widgetu18706:hover #widgetu18706_prompt,#widgetu18706.focus-st #widgetu18706_prompt,#widgetu18706.fld-err-st #widgetu18706_prompt,#widgetu18686:hover #widgetu18686_input,#widgetu18686.focus-st #widgetu18686_input,#widgetu18686.fld-err-st #widgetu18686_input,#widgetu18686:hover #widgetu18686_prompt,#widgetu18686.focus-st #widgetu18686_prompt,#widgetu18686.fld-err-st #widgetu18686_prompt,#widgetu18701:hover #widgetu18701_input,#widgetu18701.focus-st #widgetu18701_input,#widgetu18701.fld-err-st #widgetu18701_input,#widgetu18701:hover #widgetu18701_prompt,#widgetu18701.focus-st #widgetu18701_prompt,#widgetu18701.fld-err-st #widgetu18701_prompt,#widgetu18696:hover #widgetu18696_input,#widgetu18696.focus-st #widgetu18696_input,#widgetu18696.fld-err-st #widgetu18696_input,#widgetu18696:hover #widgetu18696_prompt,#widgetu18696.focus-st #widgetu18696_prompt,#widgetu18696.fld-err-st #widgetu18696_prompt,#widgetu18844:hover #widgetu18844_input,#widgetu18844.focus-st #widgetu18844_input,#widgetu18844.fld-err-st #widgetu18844_input,#widgetu18844:hover #widgetu18844_prompt,#widgetu18844.focus-st #widgetu18844_prompt,#widgetu18844.fld-err-st #widgetu18844_prompt,#widgetu18834:hover #widgetu18834_input,#widgetu18834.focus-st #widgetu18834_input,#widgetu18834.fld-err-st #widgetu18834_input,#widgetu18834:hover #widgetu18834_prompt,#widgetu18834.focus-st #widgetu18834_prompt,#widgetu18834.fld-err-st #widgetu18834_prompt,#widgetu18852:hover #widgetu18852_input,#widgetu18852.focus-st #widgetu18852_input,#widgetu18852.fld-err-st #widgetu18852_input,#widgetu18852:hover #widgetu18852_prompt,#widgetu18852.focus-st #widgetu18852_prompt,#widgetu18852.fld-err-st #widgetu18852_prompt,#widgetu18838:hover #widgetu18838_input,#widgetu18838.focus-st #widgetu18838_input,#widgetu18838.fld-err-st #widgetu18838_input,#widgetu18838:hover #widgetu18838_prompt,#widgetu18838.fld-err-st #widgetu18838_prompt,#widgetu18848:hover #widgetu18848_input,#widgetu18848.focus-st #widgetu18848_input,#widgetu18848.fld-err-st #widgetu18848_input,#widgetu18848:hover #widgetu18848_prompt,#widgetu18848.fld-err-st #widgetu18848_prompt,#widgetu17984:hover #widgetu17984_input,#widgetu17984.focus-st #widgetu17984_input,#widgetu17984.fld-err-st #widgetu17984_input,#widgetu17984:hover #widgetu17984_prompt,#widgetu17984.focus-st #widgetu17984_prompt,#widgetu17984.fld-err-st #widgetu17984_prompt,#widgetu17975:hover #widgetu17975_input,#widgetu17975.focus-st #widgetu17975_input,#widgetu17975.fld-err-st #widgetu17975_input,#widgetu17975:hover #widgetu17975_prompt,#widgetu17975.focus-st #widgetu17975_prompt,#widgetu17975.fld-err-st #widgetu17975_prompt,#widgetu17991:hover #widgetu17991_input,#widgetu17991.focus-st #widgetu17991_input,#widgetu17991.fld-err-st #widgetu17991_input,#widgetu17991:hover #widgetu17991_prompt,#widgetu17991.focus-st #widgetu17991_prompt,#widgetu17991.fld-err-st #widgetu17991_prompt,#widgetu17995:hover #widgetu17995_input,#widgetu17995.focus-st #widgetu17995_input,#widgetu17995.fld-err-st #widgetu17995_input,#widgetu17995:hover #widgetu17995_prompt,#widgetu17995.focus-st #widgetu17995_prompt,#widgetu17995.fld-err-st #widgetu17995_prompt,#widgetu17980:hover #widgetu17980_input,#widgetu17980.focus-st #widgetu17980_input,#widgetu17980.fld-err-st #widgetu17980_input,#widgetu17980:hover #widgetu17980_prompt,#widgetu17980.focus-st #widgetu17980_prompt,#widgetu17980.fld-err-st #widgetu17980_prompt
{
	padding-top: 9px;
	padding-bottom: 6px;
}

#u18000-4
{
	z-index: 541;
	width: 245px;
	min-height: 28px;
	top: -173px;
	margin-bottom: -28px;
}

#u17999-5
{
	z-index: 545;
	width: 245px;
	min-height: 28px;
	top: -92px;
	margin-bottom: -28px;
}

#u18009
{
	width: 48px;
	top: -503px;
	left: 232px;
}

#u18010-4
{
	z-index: 563;
	width: 48px;
	min-height: 40px;
	margin-right: -10000px;
}

#u18010-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u10923
{
	z-index: 5;
	min-height: 21px;
	padding-bottom: 7px;
}

#u10928-6
{
	z-index: 13;
	width: 292px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 18px;
}

#u10923-bw
{
	z-index: 5;
	min-height: 21px;
}

#u10924
{
	z-index: 6;
	min-height: 21px;
	padding-bottom: 7px;
}

#u10925-6
{
	z-index: 7;
	width: 200px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 156px;
}

#u10924-bw
{
	z-index: 6;
	min-height: 21px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 529px;
}

#page .verticalspacer
{
	clear: both;
}

