.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u7381-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u7405-6
{
	font-family: lato-n4, sans-serif;
}

#u17919-4,#u17918-4,#u17907-4,#u17917-4,#u17921-4,#u17916-4,#u17915-4,#u17969-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18695-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18708-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18688-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18702-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18697-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17966-4:active p,#u17966-4
{
	font-family: lato-n3, sans-serif;
}

#u17917-2,#u17921-2,#u17916-2,#u17915-2,#u16507-6,#u16516-6,#u16521-6,#u16511-6
{
	font-family: lato-n4, sans-serif;
}

#u18715-3,#u18013-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18713-4,#u18714-4,#u18004-4,#u18003-4
{
	font-family: cardo-n4, serif;
}

#u18002-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u17986-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17976-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17994-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17998-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17981-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu18692_input,#widgetu18692_prompt,#widgetu18706_input,#widgetu18706_prompt,#widgetu18686_input,#widgetu18686_prompt,#widgetu18701_input,#widgetu18701_prompt,#widgetu18696_input,#widgetu18696_prompt,#widgetu17984_input,#widgetu17984_prompt,#widgetu17975_input,#widgetu17975_prompt,#widgetu17991_input,#widgetu17991_prompt,#widgetu17995_input,#widgetu17995_prompt,#widgetu17980_input,#widgetu17980_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u18710-4,#u18711-5,#u18000-4,#u17999-5
{
	font-family: open-sans-n8, sans-serif;
}

#u18711-2,#u17999-2
{
	font-family: open-sans-n6, sans-serif;
}

#u18010-4:active p,#u18010-4
{
	font-family: lato-n3, sans-serif;
}

#u10928-6,#u10925-6
{
	font-family: lato-n3, sans-serif;
}

#u10925-2
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u10925-3
{
	font-family: josefin-slab-n3, serif;
}

#u7638-7,#u7640-4,#u7645-4,#u10625-6,#u10639-6,#u10635-6,#u10629-6,#u10620-4,#u10592-4
{
	font-family: lato-n3, sans-serif;
}

#u7641-15,#u7646-12,#u10593-7
{
	font-family: lato-n4, sans-serif;
}

#u16622-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u16627-4,#u16628-6,#u16629-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

