.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u18018-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18027-6
{
	font-family: lato-n4, sans-serif;
}

#u18032-2,#u18044-2,#u18040-2,#u18035-2
{
	font-family: lato-n4, sans-serif;
}

#u18036-4,#u18038-4,#u18041-4,#u18032-4,#u18044-4,#u18040-4,#u18035-4,#u18759-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18747-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18734-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18741-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18728-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18738-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18754-4:active p,#u18754-4
{
	font-family: lato-n3, sans-serif;
}

#u18750-3,#u18767-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18751-4,#u18752-4,#u18773-4,#u18774-4
{
	font-family: cardo-n4, serif;
}

#u18802-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18792-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18796-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18788-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18782-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu18744_input,#widgetu18744_prompt,#widgetu18732_input,#widgetu18732_prompt,#widgetu18740_input,#widgetu18740_prompt,#widgetu18725_input,#widgetu18725_prompt,#widgetu18736_input,#widgetu18736_prompt,#widgetu18799_input,#widgetu18799_prompt,#widgetu18790_input,#widgetu18790_prompt,#widgetu18795_input,#widgetu18795_prompt,#widgetu18785_input,#widgetu18785_prompt,#widgetu18780_input,#widgetu18780_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u18748-4,#u18722-5,#u18778-4,#u18777-5
{
	font-family: open-sans-n8, sans-serif;
}

#u18722-2,#u18777-2
{
	font-family: open-sans-n6, sans-serif;
}

#u18764-4:active p,#u18764-4
{
	font-family: lato-n3, sans-serif;
}

#u18775-3,#u16899-4,#u16898-4,#u16897-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u16497-6,#u16496-6
{
	font-family: lato-n3, sans-serif;
}

#u16496-2
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u16496-3
{
	font-family: josefin-slab-n3, serif;
}

#u18273-4
{
	font-family: amatic-sc-n7, sans-serif;
}

#u19329-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u19320-4,#u19321-4
{
	font-family: cardo-n4, serif;
}

#u19322-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u19309-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u19296-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u19314-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u19300-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u19304-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu19308_input,#widgetu19308_prompt,#widgetu19294_input,#widgetu19294_prompt,#widgetu19313_input,#widgetu19313_prompt,#widgetu19298_input,#widgetu19298_prompt,#widgetu19303_input,#widgetu19303_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u19317-4,#u19318-5
{
	font-family: open-sans-n8, sans-serif;
}

#u19318-2
{
	font-family: open-sans-n6, sans-serif;
}

#u18198-18,#u18233-16,#u18673-6,#u18675-6,#u18678-6,#u18681-6,#u19326-4:active p,#u19326-4
{
	font-family: lato-n3, sans-serif;
}

