.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u7381-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u7405-6
{
	font-family: lato-n4, sans-serif;
}

#u17919-4,#u17918-4,#u17907-4,#u17917-4,#u17921-4,#u17916-4,#u17915-4,#u17969-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18695-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18708-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18688-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18702-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18697-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17966-4:active p,#u17966-4
{
	font-family: lato-n3, sans-serif;
}

#u17917-2,#u17921-2,#u17916-2,#u17915-2,#u16507-6,#u16516-6,#u16521-6,#u16511-6
{
	font-family: lato-n4, sans-serif;
}

#u18715-3,#u18013-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18713-4,#u18714-4,#u18004-4,#u18003-4
{
	font-family: cardo-n4, serif;
}

#u18002-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u17986-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17976-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17994-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17998-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17981-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu18692_input,#widgetu18692_prompt,#widgetu18706_input,#widgetu18706_prompt,#widgetu18686_input,#widgetu18686_prompt,#widgetu18701_input,#widgetu18701_prompt,#widgetu18696_input,#widgetu18696_prompt,#widgetu17984_input,#widgetu17984_prompt,#widgetu17975_input,#widgetu17975_prompt,#widgetu17991_input,#widgetu17991_prompt,#widgetu17995_input,#widgetu17995_prompt,#widgetu17980_input,#widgetu17980_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u18710-4,#u18711-5,#u18000-4,#u17999-5
{
	font-family: open-sans-n8, sans-serif;
}

#u18711-2,#u17999-2
{
	font-family: open-sans-n6, sans-serif;
}

#u18010-4:active p,#u18010-4
{
	font-family: lato-n3, sans-serif;
}

#u10928-6,#u10925-6
{
	font-family: lato-n3, sans-serif;
}

#u10925-2
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u10925-3
{
	font-family: josefin-slab-n3, serif;
}

#u19345-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u19338-4
{
	font-family: lato-n3, sans-serif;
}

#u10700-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u10917-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u10682-4,#u17261-9,#u19334-7,#u19348-29,#u10703-4,#u17523-6,#u19376-4,#u17571-6,#u17593-6,#u19383-4,#u17615-6,#u19408-4,#u17642-7,#u17655-7,#u17665-8,#u17675-4
{
	font-family: lato-n4, sans-serif;
}

#u10680-4,#u19333-4,#u19349-4,#u10916-4,#u10885-4,#u17557-3,#u17573-2,#u17595-2,#u17617-2,#u17643-2,#u17656-2,#u17666-2,#u17676-2,#u10709-4
{
	font-family: black-ops-one-n4, sans-serif;
}

#u10683-4,#u19335-4,#u19350-4,#u10886-4,#u10710-4
{
	font-family: josefin-slab-n4, serif;
}

#u10680-2,#u19333-2,#u19349-2,#u10885-2,#u17557-5,#u17573-6,#u17573-9,#u17573-21,#u17595-4,#u17595-19,#u17617-5,#u17617-15,#u17617-21,#u17643-5,#u17643-18,#u17643-20,#u17656-5,#u17656-17,#u17656-23,#u17666-5,#u17666-17,#u17676-5,#u17676-18,#u17676-24,#u17544-4,#u17553-4,#u10709-2,#u17271-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17265-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17284-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17282-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17274-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu17269_input,#widgetu17269_prompt,#widgetu17264_input,#widgetu17264_prompt,#widgetu17283_input,#widgetu17283_prompt,#widgetu17279_input,#widgetu17279_prompt,#widgetu17273_input,#widgetu17273_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u17288-4
{
	font-family: open-sans-n8, sans-serif;
}

