.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u7381-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u7405-6
{
	font-family: lato-n4, sans-serif;
}

#u17919-4,#u17918-4,#u17907-4,#u17917-4,#u17921-4,#u17916-4,#u17915-4,#u17969-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18695-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18708-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18688-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18702-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18697-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17966-4:active p,#u17966-4
{
	font-family: lato-n3, sans-serif;
}

#u17917-2,#u17921-2,#u17916-2,#u17915-2,#u16507-6,#u16516-6,#u16521-6,#u16511-6
{
	font-family: lato-n4, sans-serif;
}

#u18715-3,#u18013-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18713-4,#u18714-4,#u18004-4,#u18003-4
{
	font-family: cardo-n4, serif;
}

#u18002-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u17986-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17976-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17994-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17998-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17981-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu18692_input,#widgetu18692_prompt,#widgetu18706_input,#widgetu18706_prompt,#widgetu18686_input,#widgetu18686_prompt,#widgetu18701_input,#widgetu18701_prompt,#widgetu18696_input,#widgetu18696_prompt,#widgetu17984_input,#widgetu17984_prompt,#widgetu17975_input,#widgetu17975_prompt,#widgetu17991_input,#widgetu17991_prompt,#widgetu17995_input,#widgetu17995_prompt,#widgetu17980_input,#widgetu17980_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u18710-4,#u18711-5,#u18000-4,#u17999-5
{
	font-family: open-sans-n8, sans-serif;
}

#u18711-2,#u17999-2
{
	font-family: open-sans-n6, sans-serif;
}

#u18010-4:active p,#u18010-4
{
	font-family: lato-n3, sans-serif;
}

#u10928-6,#u10925-6
{
	font-family: lato-n3, sans-serif;
}

#u10925-2
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u10925-3
{
	font-family: josefin-slab-n3, serif;
}

#u18814-14
{
	font-family: lato-n9, sans-serif;
}

#u11529-4,#u11531-4,#u11533-3,#u18815-4,#u18812-4,#u18813-3,#u18820-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18822-4
{
	font-family: lato-n3, sans-serif;
}

#u18814-2,#u18814-3,#u18814-5,#u18814-6,#u18814-8,#u18814-9,#u18814-11,#u18814-12,#u11420-4,#u11723-4
{
	font-family: lato-n4, sans-serif;
}

#u11532-4,#u18823-4,#u11727-6,#u18864-6
{
	font-family: lato-n7, sans-serif;
}

#u18845-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18836-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18853-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18841-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18851-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu18844_input,#widgetu18844_prompt,#widgetu18834_input,#widgetu18834_prompt,#widgetu18852_input,#widgetu18852_prompt,#widgetu18838_input,#widgetu18838_prompt,#widgetu18848_input,#widgetu18848_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u18832-4
{
	font-family: open-sans-n8, sans-serif;
}

#u11531,#u18815,#u11545,#u11559,#u11724,#u18862,#u18829-2
{
	font-family: yellowtail-n4, cursive;
}

#u11544-6,#u11543-3,#u11545-4,#u11559-4,#u11557-4,#u11558-3,#u11725-6,#u11724-4,#u11726-3,#u11665-8,#u18861-6,#u18863-3,#u18862-4,#u18829-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18830-4
{
	font-family: josefin-slab-n4, serif;
}

