#u7456
{
	border-color: #000000;
	background-color: #FFFFFF;
}

#u7457
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.22);
	border-color: #000000;
	opacity: 0.32;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=32)";
	filter: alpha(opacity=32);
	background: #FFFFFF url("../../images/screen%20shot%202015-01-14%20at%20115009%20am.jpg") repeat center center;
}

#u7458,#u18015,#u18016
{
	background-color: transparent;
	position: relative;
}

#u18018-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 18px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 15px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18016:hover #u18018-4 p
{
	color: #CAB25C;
	visibility: inherit;
}

#u18016.MuseMenuActive #u18018-4 p
{
	color: #000000;
	visibility: inherit;
}

#u18017
{
	position: relative;
	background: transparent url("../../images/arrowmenudown.gif") no-repeat center center;
}

#u18016:hover #u18017
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u18016.MuseMenuActive #u18017
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u18020
{
	background-color: transparent;
}

#u18025
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	background: #FFFFFF url("../../images/screen%20shot%202015-04-09%20at%20110737%20am.jpg") no-repeat left top;
}

#u18025:hover
{
	background: #F1F1F1 url("../../images/screen%20shot%202015-04-09%20at%20110737%20am.jpg") no-repeat left top;
}

#u18025.MuseMenuActive
{
	background: #666666 url("../../images/screen%20shot%202015-04-09%20at%20110737%20am.jpg") no-repeat left top;
}

#u18027-6
{
	background-color: transparent;
	line-height: 12px;
	text-align: center;
	font-size: 10px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18027
{
	font-size: 1px;
	line-height: 0px;
}

#u18029
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u18038-2
{
	padding-top: 15px;
}

#u18038-4,#u18041-4
{
	background-color: transparent;
	color: #212121;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18041-2
{
	padding-top: 11px;
}

#u18032-2,#u18044-2
{
	font-size: 9px;
	line-height: 12px;
	font-family: lato, sans-serif;
}

#u18032-4,#u18044-4
{
	font-size: 16px;
	line-height: 21px;
	font-family: league-gothic, sans-serif;
}

#u18032-6,#u18044-6,#u18040-6,#u18035-6
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	position: relative;
}

#u18040-2,#u18035-2
{
	font-size: 9px;
	line-height: 10px;
	font-family: lato, sans-serif;
}

#u18040-4,#u18035-4
{
	font-size: 16px;
	line-height: 18px;
	font-family: league-gothic, sans-serif;
}

#u18037,#u18039
{
	background-color: #000000;
	position: relative;
}

#u18758
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
}

#u18759-4
{
	background-color: transparent;
	color: #212121;
	line-height: 20px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 15px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18750
{
	padding-top: 10px;
}

#menuu18014,#u18749,#u18721,#widgetu18744
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18747-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu18744:hover #u18747-4
{
	border-color: #6B6B6B;
}

#widgetu18744.focus-st #u18747-4
{
	border-color: #6B6B6B;
}

#widgetu18744.non-empty-st #u18747-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18744:hover #u18747-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18744.focus-st #u18747-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18732
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18734-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu18732:hover #u18734-4
{
	border-color: #6B6B6B;
}

#widgetu18732.focus-st #u18734-4
{
	border-color: #6B6B6B;
}

#widgetu18732.non-empty-st #u18734-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18732:hover #u18734-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18732.focus-st #u18734-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#u18724-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u18731-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u18729-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u18730-17
{
	position: relative;
	background: url("../../images/u18730-17.png") no-repeat 0px 0px;
}

#u18730-17:hover
{
	background: url("../../images/u18730-17-r.png") no-repeat 0px 0px;
}

#u18730-17:active
{
	background: url("../../images/u18730-17-m.png") no-repeat 0px 0px;
}

#widgetu18723.frm-sub-st #u18730-17
{
	background: url("../../images/u18730-17-fs.png") no-repeat 0px 0px;
}

#widgetu18740
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18741-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu18740:hover #u18741-4
{
	border-color: #6B6B6B;
}

#widgetu18740.focus-st #u18741-4
{
	border-color: #6B6B6B;
}

#widgetu18740.non-empty-st #u18741-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18740:hover #u18741-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18740.focus-st #u18741-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18725
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18728-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu18725:hover #u18728-4
{
	border-color: #6B6B6B;
}

#widgetu18725.focus-st #u18728-4
{
	border-color: #6B6B6B;
}

#widgetu18725.non-empty-st #u18728-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18725:hover #u18728-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18725.focus-st #u18728-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18736
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18738-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu18736:hover #u18738-4
{
	border-color: #6B6B6B;
}

#widgetu18736.focus-st #u18738-4
{
	border-color: #6B6B6B;
}

#widgetu18736.non-empty-st #u18738-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18736:hover #u18738-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18736.focus-st #u18738-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#u18748-2
{
	padding-top: 3px;
}

#u18722-3
{
	padding-top: 3px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u18754-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: center;
	font-size: 45px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u18766
{
	position: absolute;
	border-color: #000000;
	background-color: transparent;
}

#u18021,#u18022,#u18042,#u18033,#u18030,#u16902,#u16904,#u16900,#u18804
{
	background-color: transparent;
	position: relative;
}

#u18767-4
{
	background-color: transparent;
	color: #212121;
	line-height: 17px;
	text-align: center;
	letter-spacing: 0px;
	text-transform: uppercase;
	font-size: 13px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18719,#u18770
{
	position: absolute;
	background-color: transparent;
}

#u18720,#u18771
{
	border-color: #C7A558;
	background-color: #000000;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	position: relative;
}

#u18751-4,#u18773-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-family: cardo, serif;
	font-weight: 400;
	position: relative;
}

#u18752-4,#u18774-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	font-family: cardo, serif;
	font-weight: 400;
	position: relative;
}

#u18750-3,#u18775-3
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 1px;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 17px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 2px 0px 0px;
}

#u18775
{
	padding-top: 10px;
}

#pamphletu18716,#u18757,#widgetu18723,#pamphletu18760,#u18765,#widgetu18779
{
	position: relative;
}

#u18772,#u18776,#widgetu18799
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18802-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu18799:hover #u18802-4
{
	border-color: #6B6B6B;
}

#widgetu18799.focus-st #u18802-4
{
	border-color: #6B6B6B;
}

#widgetu18799.non-empty-st #u18802-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18799:hover #u18802-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18799.focus-st #u18802-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18790
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18792-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu18790:hover #u18792-4
{
	border-color: #6B6B6B;
}

#widgetu18790.focus-st #u18792-4
{
	border-color: #6B6B6B;
}

#widgetu18790.non-empty-st #u18792-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18790:hover #u18792-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18790.focus-st #u18792-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#u18794-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu18723.frm-sub-st #u18724-4 p,#widgetu18779.frm-sub-st #u18794-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u18789-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu18723.frm-subm-err-st #u18731-4 p,#widgetu18779.frm-subm-err-st #u18789-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u18784-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu18723.frm-sub-st #u18724-4,#widgetu18723.frm-subm-err-st #u18731-4,#widgetu18723.frm-subm-ok-st #u18729-4,#widgetu18779.frm-sub-st #u18794-4,#widgetu18779.frm-subm-err-st #u18789-4,#widgetu18779.frm-subm-ok-st #u18784-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu18723.frm-subm-ok-st #u18729-4 p,#widgetu18779.frm-subm-ok-st #u18784-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u18803-17
{
	position: relative;
	background: url("../../images/u18803-17.png") no-repeat 0px 0px;
}

#u18803-17:hover
{
	background: url("../../images/u18803-17-r.png") no-repeat 0px 0px;
}

#u18803-17:active
{
	background: url("../../images/u18803-17-m.png") no-repeat 0px 0px;
}

#widgetu18779.frm-sub-st #u18803-17
{
	background: url("../../images/u18803-17-fs.png") no-repeat 0px 0px;
}

#widgetu18795
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18796-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu18795:hover #u18796-4
{
	border-color: #6B6B6B;
}

#widgetu18795.focus-st #u18796-4
{
	border-color: #6B6B6B;
}

#widgetu18795.non-empty-st #u18796-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18795:hover #u18796-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18795.focus-st #u18796-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18785
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18788-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu18785:hover #u18788-4
{
	border-color: #6B6B6B;
}

#widgetu18785.focus-st #u18788-4
{
	border-color: #6B6B6B;
}

#widgetu18785.non-empty-st #u18788-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18785:hover #u18788-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18785.focus-st #u18788-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18780
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu18744.fld-err-st,#widgetu18732.fld-err-st,#widgetu18740.fld-err-st,#widgetu18725.fld-err-st,#widgetu18736.fld-err-st,#widgetu18799.fld-err-st,#widgetu18790.fld-err-st,#widgetu18795.fld-err-st,#widgetu18785.fld-err-st,#widgetu18780.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u18782-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	text-indent: 15px;
	text-transform: uppercase;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu18780:hover #u18782-4
{
	border-color: #6B6B6B;
}

#widgetu18780.focus-st #u18782-4
{
	border-color: #6B6B6B;
}

#widgetu18744.fld-err-st #u18747-4,#widgetu18732.fld-err-st #u18734-4,#widgetu18740.fld-err-st #u18741-4,#widgetu18725.fld-err-st #u18728-4,#widgetu18736.fld-err-st #u18738-4,#widgetu18799.fld-err-st #u18802-4,#widgetu18790.fld-err-st #u18792-4,#widgetu18795.fld-err-st #u18796-4,#widgetu18785.fld-err-st #u18788-4,#widgetu18780.fld-err-st #u18782-4
{
	border-color: #D7244C;
}

#widgetu18780.non-empty-st #u18782-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18780:hover #u18782-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18780.focus-st #u18782-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu18744.fld-err-st #u18747-4 *,#widgetu18732.fld-err-st #u18734-4 *,#widgetu18740.fld-err-st #u18741-4 *,#widgetu18725.fld-err-st #u18728-4 *,#widgetu18736.fld-err-st #u18738-4 *,#widgetu18799.fld-err-st #u18802-4 *,#widgetu18790.fld-err-st #u18792-4 *,#widgetu18795.fld-err-st #u18796-4 *,#widgetu18785.fld-err-st #u18788-4 *,#widgetu18780.fld-err-st #u18782-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu18744_input,#widgetu18744_prompt,#widgetu18732_input,#widgetu18732_prompt,#widgetu18740_input,#widgetu18740_prompt,#widgetu18725_input,#widgetu18725_prompt,#widgetu18736_input,#widgetu18736_prompt,#widgetu18799_input,#widgetu18799_prompt,#widgetu18790_input,#widgetu18790_prompt,#widgetu18795_input,#widgetu18795_prompt,#widgetu18785_input,#widgetu18785_prompt,#widgetu18780_input,#widgetu18780_prompt
{
	color: #FFFFFF;
	text-align: left;
	font-family: hammersmith-one, sans-serif;
	font-style: italic;
	font-weight: 400;
}

#widgetu18744.non-empty-st #widgetu18744_prompt,#widgetu18732.non-empty-st #widgetu18732_prompt,#widgetu18740.non-empty-st #widgetu18740_prompt,#widgetu18725.focus-st #widgetu18725_prompt,#widgetu18725.non-empty-st #widgetu18725_prompt,#widgetu18736.focus-st #widgetu18736_prompt,#widgetu18736.non-empty-st #widgetu18736_prompt,#widgetu18799.non-empty-st #widgetu18799_prompt,#widgetu18790.non-empty-st #widgetu18790_prompt,#widgetu18795.non-empty-st #widgetu18795_prompt,#widgetu18785.focus-st #widgetu18785_prompt,#widgetu18785.non-empty-st #widgetu18785_prompt,#widgetu18780.focus-st #widgetu18780_prompt,#widgetu18780.non-empty-st #widgetu18780_prompt
{
	visibility: hidden;
}

#u18748-4,#u18778-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 12px;
	text-align: left;
	text-transform: uppercase;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	font-style: normal;
	position: relative;
}

#u18778-2
{
	padding-top: 3px;
}

#u18722-5,#u18777-5
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	text-transform: uppercase;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	font-style: normal;
	position: relative;
}

#u18777-3
{
	padding-top: 3px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u18722,#u18777
{
	line-height: 14px;
}

#u18722-2,#u18777-2
{
	font-size: 10px;
	text-transform: none;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	line-height: 10px;
}

#u18753,#u18763
{
	position: absolute;
	border-color: #999999;
	background-color: transparent;
}

#u18764-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: center;
	font-size: 45px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u18754-4:active p,#u18764-4:active p
{
	color: #000000;
	visibility: inherit;
	font-size: 45px;
	line-height: 0.4;
	font-family: lato, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u18036-4,#u16899-4,#u16898-4,#u16897-4
{
	background-color: transparent;
	color: #212121;
	line-height: 17px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u16494
{
	background-color: #490D03;
}

#u16497-6
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 17px;
	text-align: left;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u16497-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u16497-2
{
	font-size: 11px;
	line-height: 14px;
}

#u16497,#u16497-3
{
	line-height: 17px;
}

#u16495
{
	background-color: #000000;
}

#u16496-6
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 16px;
	text-align: right;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u16496-2
{
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
}

#u16496-3
{
	font-family: josefin-slab, serif;
	font-weight: 300;
}

