.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u23135-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23114-6
{
	font-family: lato-n4, sans-serif;
}

#u23128-2,#u23117-2,#u23122-2,#u23121-2
{
	font-family: lato-n4, sans-serif;
}

#u23119-4,#u23127-4,#u23120-4,#u23128-4,#u23117-4,#u23122-4,#u23121-4,#u23179-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23157-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23152-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23162-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23148-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23165-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23174-4:active p,#u23174-4
{
	font-family: lato-n3, sans-serif;
}

#u23170-3,#u23062-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23172-4,#u23171-4,#u23070-4,#u23069-4
{
	font-family: cardo-n4, serif;
}

#u23075-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23080-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23095-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23086-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23089-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu23155_input,#widgetu23155_prompt,#widgetu23151_input,#widgetu23151_prompt,#widgetu23159_input,#widgetu23159_prompt,#widgetu23147_input,#widgetu23147_prompt,#widgetu23163_input,#widgetu23163_prompt,#widgetu23074_input,#widgetu23074_prompt,#widgetu23078_input,#widgetu23078_prompt,#widgetu23092_input,#widgetu23092_prompt,#widgetu23084_input,#widgetu23084_prompt,#widgetu23088_input,#widgetu23088_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u23167-4,#u23168-5,#u23098-4,#u23072-5
{
	font-family: open-sans-n8, sans-serif;
}

#u23168-2,#u23072-2
{
	font-family: open-sans-n6, sans-serif;
}

#u23100-4:active p,#u23100-4
{
	font-family: lato-n3, sans-serif;
}

#u23068-3,#u23048-4,#u23047-4,#u23046-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23045-6,#u23101-6
{
	font-family: lato-n3, sans-serif;
}

#u23101-2
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23101-3
{
	font-family: josefin-slab-n3, serif;
}

#u22560-14
{
	font-family: lato-n9, sans-serif;
}

#u22528-4,#u22531-4,#u22536-3,#u22561-4,#u22563-4,#u22562-3,#u22566-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u22557-4
{
	font-family: lato-n3, sans-serif;
}

#u22560-2,#u22560-3,#u22560-5,#u22560-6,#u22560-8,#u22560-9,#u22560-11,#u22560-12,#u22517-4,#u22581-4
{
	font-family: lato-n4, sans-serif;
}

#u22534-4,#u22571-4,#u22535-6,#u22621-6
{
	font-family: lato-n7, sans-serif;
}

#u22531,#u22561,#u22532,#u22551,#u22533,#u22619,#u22589-2
{
	font-family: yellowtail-n4, cursive;
}

#u22529-6,#u22537-3,#u22532-4,#u22551-4,#u22549-4,#u22550-3,#u22530-6,#u22533-4,#u22538-3,#u22554-8,#u22618-6,#u22620-3,#u22619-4,#u22589-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u22609-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22614-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22597-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22606-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22601-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu22608_input,#widgetu22608_prompt,#widgetu22613_input,#widgetu22613_prompt,#widgetu22594_input,#widgetu22594_prompt,#widgetu22603_input,#widgetu22603_prompt,#widgetu22598_input,#widgetu22598_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u22592-4
{
	font-family: open-sans-n8, sans-serif;
}

#u22590-4
{
	font-family: josefin-slab-n4, serif;
}

