.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u22930-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u22910-6
{
	font-family: lato-n4, sans-serif;
}

#u22913-2,#u22916-2,#u22923-2,#u22917-2
{
	font-family: lato-n4, sans-serif;
}

#u22921-4,#u22925-4,#u22922-4,#u22913-4,#u22916-4,#u22923-4,#u22917-4,#u22937-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u22952-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22957-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22947-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22966-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22961-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22939-4:active p,#u22939-4
{
	font-family: lato-n3, sans-serif;
}

#u22972-3,#u22997-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u22973-4,#u22971-4,#u23002-4,#u23003-4
{
	font-family: cardo-n4, serif;
}

#u23009-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23020-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23024-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23029-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23011-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu22949_input,#widgetu22949_prompt,#widgetu22955_input,#widgetu22955_prompt,#widgetu22944_input,#widgetu22944_prompt,#widgetu22963_input,#widgetu22963_prompt,#widgetu22959_input,#widgetu22959_prompt,#widgetu23006_input,#widgetu23006_prompt,#widgetu23018_input,#widgetu23018_prompt,#widgetu23022_input,#widgetu23022_prompt,#widgetu23026_input,#widgetu23026_prompt,#widgetu23010_input,#widgetu23010_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u22968-4,#u22969-5,#u23031-4,#u23030-5
{
	font-family: open-sans-n8, sans-serif;
}

#u22969-2,#u23030-2
{
	font-family: open-sans-n6, sans-serif;
}

#u23037-4:active p,#u23037-4
{
	font-family: lato-n3, sans-serif;
}

#u23001-3,#u22985-4,#u22984-4,#u22983-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u22982-6,#u23042-6
{
	font-family: lato-n3, sans-serif;
}

#u23042-2
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23042-3
{
	font-family: josefin-slab-n3, serif;
}

