.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u23135-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23114-6
{
	font-family: lato-n4, sans-serif;
}

#u23128-2,#u23117-2,#u23122-2,#u23121-2
{
	font-family: lato-n4, sans-serif;
}

#u23119-4,#u23127-4,#u23120-4,#u23128-4,#u23117-4,#u23122-4,#u23121-4,#u23179-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23157-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23152-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23162-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23148-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23165-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23174-4:active p,#u23174-4
{
	font-family: lato-n3, sans-serif;
}

#u23170-3,#u23062-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23172-4,#u23171-4,#u23070-4,#u23069-4
{
	font-family: cardo-n4, serif;
}

#u23075-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23080-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23095-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23086-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23089-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu23155_input,#widgetu23155_prompt,#widgetu23151_input,#widgetu23151_prompt,#widgetu23159_input,#widgetu23159_prompt,#widgetu23147_input,#widgetu23147_prompt,#widgetu23163_input,#widgetu23163_prompt,#widgetu23074_input,#widgetu23074_prompt,#widgetu23078_input,#widgetu23078_prompt,#widgetu23092_input,#widgetu23092_prompt,#widgetu23084_input,#widgetu23084_prompt,#widgetu23088_input,#widgetu23088_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u23167-4,#u23168-5,#u23098-4,#u23072-5
{
	font-family: open-sans-n8, sans-serif;
}

#u23168-2,#u23072-2
{
	font-family: open-sans-n6, sans-serif;
}

#u23100-4:active p,#u23100-4
{
	font-family: lato-n3, sans-serif;
}

#u23068-3,#u23048-4,#u23047-4,#u23046-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23045-6,#u23101-6
{
	font-family: lato-n3, sans-serif;
}

#u23101-2
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23101-3
{
	font-family: josefin-slab-n3, serif;
}

#u22220-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u22222-4
{
	font-family: lato-n3, sans-serif;
}

#u22061-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u22074-4,#u22459-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u22428-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u22049-4,#u22226-9,#u22208-7,#u22215-29,#u22064-4,#u22276-7,#u22497-6,#u22463-4,#u22270-6,#u22330-6,#u22262-6,#u22435-4,#u22351-7,#u22344-10,#u22337-4
{
	font-family: lato-n4, sans-serif;
}

#u22048-4,#u22207-4,#u22217-4,#u22073-6,#u22071-4,#u22278-2,#u22496-3,#u22267-2,#u22331-2,#u22261-2,#u22350-2,#u22345-2,#u22338-2,#u22368-4,#u22379-4,#u22069-4
{
	font-family: black-ops-one-n4, sans-serif;
}

#u22050-4,#u22209-4,#u22216-4,#u22072-4,#u22070-4
{
	font-family: josefin-slab-n4, serif;
}

#u22048-2,#u22207-2,#u22217-2,#u22071-2,#u22278-5,#u22278-20,#u22496-6,#u22496-17,#u22267-4,#u22267-17,#u22331-5,#u22331-8,#u22331-24,#u22261-5,#u22261-22,#u22350-5,#u22350-19,#u22345-5,#u22345-17,#u22338-5,#u22338-23,#u22069-2,#u22101-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22090-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22084-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22096-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u22092-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu22099_input,#widgetu22099_prompt,#widgetu22087_input,#widgetu22087_prompt,#widgetu22083_input,#widgetu22083_prompt,#widgetu22095_input,#widgetu22095_prompt,#widgetu22091_input,#widgetu22091_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u22104-4
{
	font-family: open-sans-n8, sans-serif;
}

