.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u23135-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23114-6
{
	font-family: lato-n4, sans-serif;
}

#u23128-2,#u23117-2,#u23122-2,#u23121-2
{
	font-family: lato-n4, sans-serif;
}

#u23119-4,#u23127-4,#u23120-4,#u23128-4,#u23117-4,#u23122-4,#u23121-4,#u23179-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23157-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23152-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23162-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23148-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23165-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23174-4:active p,#u23174-4
{
	font-family: lato-n3, sans-serif;
}

#u23170-3,#u23062-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23172-4,#u23171-4,#u23070-4,#u23069-4
{
	font-family: cardo-n4, serif;
}

#u23075-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23080-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23095-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23086-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23089-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu23155_input,#widgetu23155_prompt,#widgetu23151_input,#widgetu23151_prompt,#widgetu23159_input,#widgetu23159_prompt,#widgetu23147_input,#widgetu23147_prompt,#widgetu23163_input,#widgetu23163_prompt,#widgetu23074_input,#widgetu23074_prompt,#widgetu23078_input,#widgetu23078_prompt,#widgetu23092_input,#widgetu23092_prompt,#widgetu23084_input,#widgetu23084_prompt,#widgetu23088_input,#widgetu23088_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u23167-4,#u23168-5,#u23098-4,#u23072-5
{
	font-family: open-sans-n8, sans-serif;
}

#u23168-2,#u23072-2
{
	font-family: open-sans-n6, sans-serif;
}

#u23100-4:active p,#u23100-4
{
	font-family: lato-n3, sans-serif;
}

#u23068-3,#u23048-4,#u23047-4,#u23046-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23045-6,#u23101-6
{
	font-family: lato-n3, sans-serif;
}

#u23101-2
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23101-3
{
	font-family: josefin-slab-n3, serif;
}

#u21874-6,#u21882-6,#u21885-6,#u21896-6,#u21903-8
{
	font-family: bebas-neue-n4, sans-serif;
}

#u21788-4,#u21905-13,#u21950-19
{
	font-family: lato-n4, sans-serif;
}

#u21787-4,#u21945-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u21954-4
{
	font-family: lato-n3, sans-serif;
}

#u21785-6,#u21904-6,#u21786-6,#u21952-6,#u21793-6,#u21958-11,#u21853-4,#u21862-4,#u21858-4,#u21866-4,#u21850-4,#u21844-6
{
	font-family: cardo-n4, serif;
}

#u21838-6
{
	font-family: cardo-n4, serif;
}

#u21840-4
{
	font-family: cardo-n4, serif;
}

#u21842-4
{
	font-family: cardo-n4, serif;
}

#u21846-6
{
	font-family: cardo-n4, serif;
}

#u21868-4,#u21835-4
{
	font-family: amatic-sc-n7, sans-serif;
}

#u22019-2,#u22002-2,#u22009-2,#u22015-2
{
	font-family: dosis-n5, sans-serif;
}

#u22019-4,#u22002-4,#u22009-4,#u22015-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

#u22020-18,#u22003-24,#u22007-18,#u22014-12
{
	font-family: sorts-mill-goudy-i5, serif;
}

#u21930-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u21926-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u21933-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u21916-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u21921-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu21927_input,#widgetu21927_prompt,#widgetu21923_input,#widgetu21923_prompt,#widgetu21931_input,#widgetu21931_prompt,#widgetu21913_input,#widgetu21913_prompt,#widgetu21918_input,#widgetu21918_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u21909-4,#u21908-5
{
	font-family: open-sans-n8, sans-serif;
}

#u21908-2
{
	font-family: open-sans-n6, sans-serif;
}

#u21936-4,#u21937-4
{
	font-family: cardo-n4, serif;
}

#u21938-3
{
	font-family: league-gothic-n4, sans-serif;
}

