.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u23135-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23114-6
{
	font-family: lato-n4, sans-serif;
}

#u23128-2,#u23117-2,#u23122-2,#u23121-2
{
	font-family: lato-n4, sans-serif;
}

#u23119-4,#u23127-4,#u23120-4,#u23128-4,#u23117-4,#u23122-4,#u23121-4,#u23179-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23157-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23152-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23162-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23148-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23165-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23174-4:active p,#u23174-4
{
	font-family: lato-n3, sans-serif;
}

#u23170-3,#u23062-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23172-4,#u23171-4,#u23070-4,#u23069-4
{
	font-family: cardo-n4, serif;
}

#u23075-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23080-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23095-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23086-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23089-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu23155_input,#widgetu23155_prompt,#widgetu23151_input,#widgetu23151_prompt,#widgetu23159_input,#widgetu23159_prompt,#widgetu23147_input,#widgetu23147_prompt,#widgetu23163_input,#widgetu23163_prompt,#widgetu23074_input,#widgetu23074_prompt,#widgetu23078_input,#widgetu23078_prompt,#widgetu23092_input,#widgetu23092_prompt,#widgetu23084_input,#widgetu23084_prompt,#widgetu23088_input,#widgetu23088_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u23167-4,#u23168-5,#u23098-4,#u23072-5
{
	font-family: open-sans-n8, sans-serif;
}

#u23168-2,#u23072-2
{
	font-family: open-sans-n6, sans-serif;
}

#u23100-4:active p,#u23100-4
{
	font-family: lato-n3, sans-serif;
}

#u23068-3,#u23048-4,#u23047-4,#u23046-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23045-6,#u23101-6
{
	font-family: lato-n3, sans-serif;
}

#u23101-2
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23101-3
{
	font-family: josefin-slab-n3, serif;
}

#u23238-2
{
	font-family: lato-n9, sans-serif;
}

#u23252-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23270-4,#u23407-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u23242-2,#u23257-3,#u23267-2,#u23417-2,#u23409-4,#u23370-3
{
	font-family: lato-n3, sans-serif;
}

#u23237-4,#u23268-12,#u23372-2
{
	font-family: lato-n7, sans-serif;
}

#u23238-5,#u23239-4,#u23256-4,#u23257-7,#u23257-8,#u23257-9,#u23348-4,#u23325-4,#u23260-6,#u23266-6,#u23310-4,#u23263-6,#u23271-5,#u23271-6,#u23271-7,#u23271-9,#u23269-4,#u23418-4,#u23416-19,#u23284-4,#u23367-4,#u23274-6,#u23277-6,#u23307-4,#u23369-6,#u23373-4,#u23371-7,#u23372-5,#u23372-6,#u23372-8
{
	font-family: lato-n4, sans-serif;
}

#u23242-7,#u23257-6,#u23259-7,#u23265-7,#u23262-7,#u23271-2,#u23267-7,#u23417-4,#u23273-7,#u23276-4,#u23368-5,#u23370-5,#u23374-6
{
	font-family: paytone-one-n4, sans-serif;
}

#u23375-4
{
	font-family: josefin-slab-n4, serif;
}

#u23392-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23394-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23399-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23381-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u23388-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu23389_input,#widgetu23389_prompt,#widgetu23393_input,#widgetu23393_prompt,#widgetu23397_input,#widgetu23397_prompt,#widgetu23380_input,#widgetu23380_prompt,#widgetu23385_input,#widgetu23385_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u23377-4
{
	font-family: open-sans-n8, sans-serif;
}

