.version.sobre_o_metodo /* version checker */
{
	color: #000001;
	background-color: #64F425;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.8375000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -58px;
	width: 0.01px;
}

#u23102,#u23102-bw
{
	z-index: 287;
	height: 34px;
}

#u23103,#u23103-bw
{
	z-index: 288;
	height: 34px;
}

#u23104
{
	z-index: 289;
	width: 35px;
	margin-right: -10000px;
	margin-top: 5px;
}

#menuu23106
{
	z-index: 291;
	width: 184px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 575px;
}

#u23107
{
	width: 184px;
	min-height: 28px;
	margin-right: -10000px;
}

#u23134
{
	width: 184px;
	padding-bottom: 10px;
}

#u23134:hover
{
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u23134.MuseMenuActive
{
	width: 184px;
	min-height: 0px;
	margin: 0px;
}

#u23135-4
{
	width: 34px;
	min-height: 18px;
	margin-right: -10000px;
	top: 5px;
	left: 68px;
}

#u23134:hover #u23135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u23134.MuseMenuActive #u23135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u23136
{
	z-index: 298;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 7px;
	left: 102px;
}

#u23134:hover #u23136
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u23134.MuseMenuActive #u23136
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u23108
{
	width: 180px;
	top: 28px;
}

#u23109,#u23110
{
	width: 180px;
}

#u23111
{
	width: 178px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u23111:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u23111.MuseMenuActive
{
	width: 178px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u23114-6
{
	width: 169px;
	min-height: 476px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u23111:hover #u23114-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 476px;
	width: 169px;
	margin: 0px -10000px 0px 0px;
}

#u23111.MuseMenuActive #u23114-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 476px;
	width: 169px;
	margin: 0px -10000px 0px 0px;
}

#u23115:hover
{
	min-height: 0px;
	margin: 0px;
}

#u23116
{
	z-index: 309;
	width: 168px;
}

#u23131
{
	z-index: 310;
	width: 168px;
	height: 269px;
	margin-right: -10000px;
	margin-top: 94px;
}

#u23129
{
	z-index: 311;
	width: 28px;
	margin-right: -10000px;
	margin-top: 381px;
	left: 114px;
}

#u23125
{
	z-index: 313;
	width: 27px;
	margin-right: -10000px;
	margin-top: 381px;
	left: 75px;
}

#u23119-4
{
	z-index: 315;
	width: 136px;
	margin-right: -10000px;
	margin-top: 429px;
	left: 19px;
}

#u23127-4
{
	z-index: 319;
	width: 168px;
	min-height: 47px;
	margin-right: -10000px;
}

#u23120-4
{
	z-index: 323;
	width: 168px;
	min-height: 49px;
	margin-right: -10000px;
	margin-top: 50px;
}

#u23128-6
{
	z-index: 327;
	width: 168px;
	margin-right: -10000px;
	margin-top: 116px;
}

#u23117-6
{
	z-index: 333;
	width: 168px;
	margin-right: -10000px;
	margin-top: 174px;
}

#u23122-6
{
	z-index: 339;
	width: 168px;
	margin-right: -10000px;
	margin-top: 233px;
}

#u23121-6
{
	z-index: 345;
	width: 168px;
	margin-right: -10000px;
	margin-top: 292px;
}

#u23118
{
	z-index: 351;
	width: 162px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 468px;
	left: 1px;
}

#u23123
{
	z-index: 352;
	width: 31px;
	margin-right: -10000px;
	margin-top: 379px;
	left: 32px;
}

#pamphletu23138
{
	z-index: 355;
	width: 0.01px;
	height: 20px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 306px;
}

#u23177
{
	z-index: 356;
	width: 157px;
	margin-right: -10000px;
}

#u23178
{
	width: 157px;
	padding-bottom: 3px;
}

#u23179-4
{
	z-index: 358;
	width: 157px;
	margin-right: -10000px;
}

#u23178.PamphletThumbSelected #u23179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 157px;
	margin: 0px -10000px 0px 0px;
}

#u23139popup
{
	z-index: 362;
}

#u23139
{
	width: 424px;
	padding-bottom: 44px;
	top: 23px;
	left: -63px;
}

#u23140
{
	z-index: 363;
	width: 248px;
	height: 427px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
	padding: 50px 60px 46px 72px;
}

#u23169
{
	z-index: 429;
	width: 247px;
}

#u23172-4
{
	z-index: 437;
	width: 247px;
}

#u23171-4
{
	z-index: 430;
	width: 247px;
	min-height: 22px;
	margin-top: 9px;
}

#u23170-3
{
	z-index: 434;
	width: 163px;
	min-height: 14px;
	margin-left: 45px;
	margin-top: 18px;
}

#u23141
{
	z-index: 364;
	width: 245px;
	margin-left: 1px;
	margin-top: 10px;
	padding: 1px 1px 0px;
}

#widgetu23142
{
	z-index: 365;
	width: 0.01px;
	height: 323px;
}

#widgetu23155
{
	z-index: 366;
	width: 247px;
	height: 37px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u23157-4
{
	z-index: 367;
	width: 233px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu23155:hover #u23157-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23155.focus-st #u23157-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23151
{
	z-index: 371;
	width: 247px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 50px;
	left: -1px;
}

#u23152-4
{
	z-index: 372;
	width: 233px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu23155.fld-err-st #u23157-4,#widgetu23151:hover #u23152-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23151.focus-st #u23152-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#u23146-4
{
	z-index: 376;
	width: 105px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 140px;
}

#u23144-4
{
	z-index: 380;
	width: 105px;
	min-height: 42px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 140px;
}

#u23145-4
{
	z-index: 384;
	width: 105px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 140px;
}

#u23143-17
{
	z-index: 388;
	min-height: 33px;
	width: 131px;
	margin-right: -10000px;
	margin-top: 275px;
}

#widgetu23159
{
	z-index: 405;
	width: 116px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 188px;
	left: -1px;
}

#u23162-4
{
	z-index: 406;
	width: 102px;
	min-height: 21px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu23159:hover #u23162-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23159.focus-st #u23162-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23147
{
	z-index: 410;
	width: 247px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 101px;
	left: -1px;
}

#u23148-4
{
	z-index: 411;
	width: 233px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu23151.fld-err-st #u23152-4,#widgetu23147:hover #u23148-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23147.focus-st #u23148-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23163
{
	z-index: 415;
	width: 126px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 120px;
}

#u23165-4
{
	z-index: 416;
	width: 112px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu23163:hover #u23165-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23163.focus-st #u23165-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u23167-4
{
	z-index: 420;
	width: 245px;
	min-height: 28px;
	top: -173px;
	margin-bottom: -28px;
}

#u23168-5
{
	z-index: 424;
	width: 245px;
	min-height: 28px;
	top: -92px;
	margin-bottom: -28px;
}

#u23173
{
	width: 48px;
	top: 45px;
	left: 287px;
}

#u23174-4
{
	z-index: 442;
	width: 48px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u23174-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 48px;
	margin: 6px -10000px 0px 0px;
}

#u21698
{
	z-index: 50;
	height: 402px;
	background: transparent url("../../images/andy_metal_01.jpg") no-repeat left top;
	background-size: cover;
}

#u21698-bw
{
	z-index: 50;
	height: 402px;
}

#u21687-7
{
	z-index: 2;
	width: 357px;
	min-height: 50px;
	background-color: transparent;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-left: 213px;
	margin-top: 25px;
	position: relative;
}

#u21687-2
{
	font-size: 12px;
	line-height: 14px;
	color: #2D2418;
}

#u21687-5
{
	font-size: 18px;
	letter-spacing: 2px;
	color: #3D1900;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u21687-3
{
	line-height: 22px;
}

#u21687-4
{
	font-size: 16px;
	line-height: 19px;
}

#pu21688
{
	width: 0.01px;
	margin-top: 21px;
}

#u21688
{
	z-index: 9;
	width: 376px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 392px;
}

#u21690
{
	z-index: 10;
	width: 376px;
	border-color: #000000;
	background-color: #8E4C39;
	padding-bottom: 183px;
	position: relative;
	margin-right: -10000px;
}

#u21689-4
{
	z-index: 11;
	width: 350px;
	min-height: 43px;
	background-color: transparent;
	color: #F1F1F1;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 15px;
}

#u21691-15
{
	z-index: 15;
	width: 225px;
	min-height: 101px;
	background-color: transparent;
	color: #F1F1F1;
	line-height: 20px;
	text-align: center;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 77px;
}

#u21691
{
	text-transform: uppercase;
}

#u21692
{
	z-index: 30;
	width: 392px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u21693
{
	z-index: 31;
	width: 392px;
	border-color: #000000;
	background-color: #EAE9E5;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u21693_position_content
{
	padding-top: 33px;
	padding-bottom: 78px;
}

#u21695-4
{
	z-index: 32;
	width: 386px;
	min-height: 43px;
	background-color: transparent;
	color: #2D2418;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-left: 14px;
	position: relative;
}

#u21694-12
{
	z-index: 36;
	width: 400px;
	min-height: 97px;
	background-color: transparent;
	color: #2D2418;
	line-height: 20px;
	text-align: center;
	font-size: 13px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 9px;
	position: relative;
}

#u21696
{
	z-index: 48;
	width: 86px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 349px;
}

#u21714
{
	z-index: 84;
	min-height: 422px;
	background-color: #F1F1F1;
}

#u21745
{
	z-index: 108;
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u21748
{
	z-index: 109;
	width: 149px;
	border-color: #000000;
	background-color: #F6F6F3;
	position: relative;
	margin-right: -10000px;
	padding: 23px 23px 33px;
}

#u21747-6
{
	z-index: 110;
	width: 150px;
	min-height: 80px;
	background-color: transparent;
	color: #212121;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u21749-4
{
	z-index: 117;
	width: 148px;
	min-height: 127px;
	background-color: transparent;
	color: #817C73;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 135px;
	position: relative;
}

#u21746
{
	z-index: 116;
	width: 150px;
	height: 142px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 23px;
	background: #F6F6F3 url("../../images/screen%20shot%202015-04-29%20at%2014840%20pm-u21746-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u21750
{
	z-index: 121;
	width: 189px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 195px;
}

#u21753
{
	z-index: 122;
	width: 145px;
	border-color: #000000;
	background-color: #F6F6F3;
	position: relative;
	margin-right: -10000px;
	padding: 23px 22px 57px;
}

#u21754-6
{
	z-index: 123;
	width: 145px;
	min-height: 68px;
	background-color: transparent;
	color: #212121;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u21752-4
{
	z-index: 130;
	width: 143px;
	min-height: 93px;
	background-color: transparent;
	color: #817C73;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 147px;
	position: relative;
}

#u21751
{
	z-index: 129;
	width: 145px;
	height: 142px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 22px;
	background: #F6F6F3 url("../../images/guida.jpg") no-repeat center top;
	background-size: cover;
}

#u21755
{
	z-index: 134;
	width: 207px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 385px;
}

#u21758
{
	z-index: 135;
	width: 167px;
	border-color: #000000;
	background-color: #F6F6F3;
	position: relative;
	margin-right: -10000px;
	padding: 23px 16px 35.67192364532042px 24px;
}

#u21759-6
{
	z-index: 136;
	width: 167px;
	min-height: 78px;
	background-color: transparent;
	color: #212121;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u21757-4
{
	z-index: 143;
	width: 157px;
	min-height: 124px;
	background-color: transparent;
	color: #817C73;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 137px;
	position: relative;
}

#u21756
{
	z-index: 142;
	width: 158px;
	height: 142px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 24px;
	background: #F6F6F3 url("../../images/jump-u21756-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#u21714-bw
{
	z-index: 84;
	min-height: 422px;
}

#u21760
{
	z-index: 147;
	width: 177px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 592px;
}

#u21762
{
	z-index: 148;
	width: 136px;
	border-color: #000000;
	background-color: #F6F6F3;
	position: relative;
	margin-right: -10000px;
	padding: 23px 20px 55.22684950738807px 21px;
}

#u21763-6
{
	z-index: 149;
	width: 136px;
	min-height: 69px;
	background-color: transparent;
	color: #212121;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u21747-2,#u21754-2,#u21759-2,#u21763-2
{
	font-size: 13px;
	line-height: 17px;
}

#u21747-4,#u21754-4,#u21759-4,#u21763-4
{
	font-size: 22px;
	line-height: 29px;
}

#u21764-6
{
	z-index: 156;
	width: 135px;
	min-height: 105px;
	background-color: transparent;
	color: #817C73;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 146px;
	position: relative;
}

#u21761
{
	z-index: 155;
	width: 136px;
	height: 142px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 21px;
	background: #F6F6F3 url("../../images/good-shape-sobre-derose.jpg") no-repeat center top;
	background-size: cover;
}

#u21712-7
{
	z-index: 73;
	min-height: 86px;
	background-color: transparent;
	line-height: 43px;
	text-align: center;
	font-size: 31px;
}

#u21712-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u21712
{
	font-size: 20px;
	line-height: 28px;
}

#u21712-3
{
	line-height: 43px;
}

#u21712-4
{
	font-size: 11px;
	line-height: 15px;
}

#u21712-7-bw
{
	z-index: 73;
	min-height: 86px;
}

#pu23102,#pu21714,#pu21703
{
	width: 0.01px;
}

#u21703
{
	z-index: 64;
	width: 77px;
	height: 44px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #894D1B url("../../images/screen%20shot%202014-02-13%20at%20110940-u10610-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u21702
{
	z-index: 63;
	width: 77px;
	height: 44px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 77px;
	background: #894D1B url("../../images/screen%20shot%202013-11-15%20at%20223714-u21702-fr.jpg") no-repeat right center;
	background-size: cover;
}

#u21709
{
	z-index: 70;
	width: 77px;
	height: 44px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 154px;
	background: #894D1B url("../../images/screen%20shot%202013-11-15%20at%20215550-u10616-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u21706
{
	z-index: 67;
	width: 77px;
	height: 44px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 230px;
	background: #894D1B url("../../images/screen%20shot%202013-11-15%20at%20223916-u21706-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u21704
{
	z-index: 65;
	width: 77px;
	height: 44px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 307px;
	background: #894D1B url("../../images/screen%20shot%202013-11-15%20at%20224124-u21704-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u21707
{
	z-index: 68;
	width: 77px;
	height: 44px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 384px;
	background: #894D1B url("../../images/screen%20shot%202013-11-15%20at%20224526-u21707-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u21710
{
	z-index: 71;
	width: 77px;
	height: 44px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 461px;
	background: #894D1B url("../../images/screen%20shot%202013-11-15%20at%20224308-u21710-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u21711
{
	z-index: 72;
	width: 77px;
	height: 44px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 538px;
	background: #894D1B url("../../images/screen%20shot%202013-11-15%20at%20224351-u21711-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u21705
{
	z-index: 66;
	width: 77px;
	height: 44px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 614px;
	background: #894D1B url("../../images/screen%20shot%202013-11-15%20at%20215521-u10612-fr.jpg") no-repeat right center;
	background-size: cover;
}

#u21708
{
	z-index: 69;
	width: 77px;
	height: 44px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 691px;
	background: #894D1B url("../../images/sampa-u21708-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u21713-4
{
	z-index: 80;
	min-height: 23px;
	background-color: transparent;
	color: #3F3F3F;
	line-height: 23px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u21713-4-bw
{
	z-index: 80;
	min-height: 23px;
	margin-top: 10px;
}

#u21699
{
	z-index: 51;
	min-height: 399px;
	-pie-box-shadow: 1px 5px 7px #E5E5E5;
	box-shadow: 1px 5px 7px rgba(0,0,0,0.1);
	border-color: #000000;
	background-color: #EAE9E5;
	padding: 33px 116px 35px 132px;
}

#u21734
{
	z-index: 85;
	width: 148px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 186px;
	position: relative;
}

#u21735
{
	z-index: 86;
	width: 148px;
	height: 148px;
	border-color: #000000;
	border-radius: 400px;
	position: relative;
	margin-right: -10000px;
	background: #F1F1F1 url("../../images/fundo-_divulguederose-u10643-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u21700-4
{
	z-index: 52;
	width: 413px;
	min-height: 43px;
	background-color: transparent;
	color: #2D2418;
	line-height: 40px;
	text-align: center;
	font-size: 33px;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-left: 53px;
	margin-top: 21px;
	position: relative;
}

#u21701-7
{
	z-index: 56;
	width: 520px;
	min-height: 176px;
	background-color: transparent;
	color: #2D2418;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u21701-2,#u21701-3,#u21701-5
{
	padding-right: 33px;
	padding-left: 33px;
}

#u21699-bw
{
	z-index: 51;
	min-height: 399px;
	margin-top: 32px;
}

#u21736-4
{
	z-index: 87;
	min-height: 46px;
	background-color: transparent;
	color: #5E0F12;
	line-height: 36px;
	text-align: center;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u21736-4-bw
{
	z-index: 87;
	min-height: 46px;
	margin-top: 46px;
}

#ppu21738
{
	width: 0.01px;
	margin-left: 155px;
	margin-top: 46px;
}

#pu21738
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 164px;
}

#u21738
{
	z-index: 92;
	width: 120px;
	height: 107px;
	border-color: #5E0F12;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/screen%20shot%202015-04-15%20at%2053337%20pm.jpg") no-repeat center top;
	background-size: cover;
}

#u21741-6
{
	z-index: 98;
	width: 84px;
	min-height: 51px;
	background-color: transparent;
	color: #5E0F12;
	line-height: 12px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 19px;
}

#pu21739
{
	z-index: 93;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 329px;
}

#u21739
{
	z-index: 0;
	width: 120px;
	border-color: #5E0F12;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: absolute;
	top: 0px;
	bottom: 0px;
	background: transparent url("../../images/screen%20shot%202015-04-15%20at%2053433%20pm.jpg") no-repeat left top;
	background-size: cover;
}

#u21739:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	border-color: #5E0F12;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 120px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#pu21742-4
{
	width: 0.01px;
	position: relative;
	left: 20px;
	padding-top: 54px;
	z-index: 2;
	padding-bottom: 2px;
}

#u21742-4
{
	z-index: 104;
	width: 81px;
	min-height: 51px;
	background-color: transparent;
	color: #5E0F12;
	line-height: 12px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u21737
{
	z-index: 91;
	width: 120px;
	height: 107px;
	border-color: #5E0F12;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/screen%20shot%202015-04-15%20at%2053103%20pm.jpg") no-repeat center top;
	background-size: cover;
}

#u21738:hover,#u21737:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	border-color: #5E0F12;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 120px;
	height: 107px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u21740-4
{
	z-index: 94;
	width: 83px;
	min-height: 51px;
	background-color: transparent;
	color: #5E0F12;
	line-height: 12px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 18px;
}

#pu23051
{
	width: 0.01px;
	margin-left: 217px;
	margin-top: 27px;
}

#u23051
{
	z-index: 184;
	width: 45px;
	margin-right: -10000px;
}

#u23053
{
	z-index: 186;
	width: 40px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 93px;
}

#u23049
{
	z-index: 182;
	width: 42px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 182px;
}

#pamphletu23055
{
	z-index: 188;
	width: 0.01px;
	height: 73px;
	padding-bottom: 16px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 245px;
}

#u23060
{
	z-index: 189;
	width: 102px;
	margin-right: -10000px;
}

#u23061
{
	width: 107px;
}

#u23061_position_content
{
	padding-bottom: 16px;
}

#u23063
{
	z-index: 195;
	width: 38px;
	margin-left: 34px;
}

#u23061.PamphletThumbSelected #u23063
{
	width: 38px;
	min-height: 0px;
	margin: 0px 0px 0px 34px;
}

#u23062-4
{
	z-index: 191;
	width: 102px;
	margin-top: 18px;
}

#u23061.PamphletThumbSelected #u23062-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 102px;
	margin: 18px 0px 0px;
}

#u23065popup
{
	z-index: 197;
}

#u23065
{
	width: 423px;
	padding-bottom: 44px;
	top: -502px;
	left: -294px;
}

#u23066
{
	z-index: 198;
	width: 248px;
	height: 427px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
	padding: 53px 59px 65px 72px;
}

#u23067
{
	z-index: 264;
	width: 247px;
}

#u23070-4
{
	z-index: 272;
	width: 247px;
}

#u23069-4
{
	z-index: 265;
	width: 247px;
	min-height: 22px;
	margin-top: 9px;
}

#u23068-3
{
	z-index: 269;
	width: 163px;
	min-height: 14px;
	margin-left: 45px;
	margin-top: 18px;
}

#u23071
{
	z-index: 199;
	width: 245px;
	margin-top: 10px;
	padding: 1px 1px 0px;
}

#widgetu23073
{
	z-index: 200;
	width: 0.01px;
	height: 323px;
}

#widgetu23074
{
	z-index: 201;
	width: 247px;
	height: 37px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu23155.fld-err-st,#widgetu23074.fld-err-st
{
	width: 247px;
	height: 37px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u23075-4
{
	z-index: 202;
	width: 233px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu23147.fld-err-st #u23148-4,#widgetu23074:hover #u23075-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23074.focus-st #u23075-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23078
{
	z-index: 206;
	width: 247px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 50px;
	left: -1px;
}

#widgetu23151.fld-err-st,#widgetu23078.fld-err-st
{
	width: 247px;
	height: 37px;
	min-height: 0px;
	margin: 50px -10000px 0px 0px;
}

#u23080-4
{
	z-index: 207;
	width: 233px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu23074.fld-err-st #u23075-4,#widgetu23078:hover #u23080-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23078.focus-st #u23080-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#u23096-4
{
	z-index: 211;
	width: 105px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 140px;
}

#u23097-4
{
	z-index: 215;
	width: 105px;
	min-height: 42px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 140px;
}

#widgetu23142.frm-subm-err-st #u23144-4,#widgetu23073.frm-subm-err-st #u23097-4
{
	min-height: 46px;
}

#u23083-4
{
	z-index: 219;
	width: 105px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 140px;
}

#widgetu23142.frm-sub-st #u23146-4,#widgetu23142.frm-subm-ok-st #u23145-4,#widgetu23073.frm-sub-st #u23096-4,#widgetu23073.frm-subm-ok-st #u23083-4
{
	min-height: 25px;
}

#u23082-17
{
	z-index: 223;
	min-height: 33px;
	width: 131px;
	margin-right: -10000px;
	margin-top: 275px;
}

#widgetu23092
{
	z-index: 240;
	width: 116px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 188px;
	left: -1px;
}

#widgetu23159.fld-err-st,#widgetu23092.fld-err-st
{
	width: 116px;
	height: 38px;
	min-height: 0px;
	margin: 188px -10000px 0px 0px;
}

#u23095-4
{
	z-index: 241;
	width: 102px;
	min-height: 21px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu23159.fld-err-st #u23162-4,#widgetu23092:hover #u23095-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23092.focus-st #u23095-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23092.fld-err-st #u23095-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23159_input,#widgetu23159_prompt,#widgetu23092_input,#widgetu23092_prompt
{
	width: 102px;
	min-height: 21px;
	padding: 9px 6px 6px;
}

#widgetu23084
{
	z-index: 245;
	width: 247px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 101px;
	left: -1px;
}

#widgetu23147.fld-err-st,#widgetu23084.fld-err-st
{
	width: 247px;
	height: 37px;
	min-height: 0px;
	margin: 101px -10000px 0px 0px;
}

#u23086-4
{
	z-index: 246;
	width: 233px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu23078.fld-err-st #u23080-4,#widgetu23084:hover #u23086-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23084.focus-st #u23086-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23084.fld-err-st #u23086-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 233px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23155_input,#widgetu23155_prompt,#widgetu23151_input,#widgetu23151_prompt,#widgetu23147_input,#widgetu23147_prompt,#widgetu23074_input,#widgetu23074_prompt,#widgetu23078_input,#widgetu23078_prompt,#widgetu23084_input,#widgetu23084_prompt
{
	width: 233px;
	min-height: 20px;
	padding: 9px 6px 6px;
}

#widgetu23088
{
	z-index: 250;
	width: 126px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 120px;
}

#widgetu23163.fld-err-st,#widgetu23088.fld-err-st
{
	width: 126px;
	height: 37px;
	min-height: 0px;
	margin: 188px -10000px 0px 0px;
}

#u23089-4
{
	z-index: 251;
	width: 112px;
	min-height: 20px;
	margin-right: -10000px;
	padding: 9px 6px 6px;
}

#widgetu23163.fld-err-st #u23165-4,#widgetu23088:hover #u23089-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23088.focus-st #u23089-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23088.fld-err-st #u23089-4
{
	padding-top: 9px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#widgetu23163_input,#widgetu23163_prompt,#widgetu23088_input,#widgetu23088_prompt
{
	width: 112px;
	min-height: 20px;
	padding: 9px 6px 6px;
}

#widgetu23155:hover #widgetu23155_input,#widgetu23155.focus-st #widgetu23155_input,#widgetu23155.fld-err-st #widgetu23155_input,#widgetu23155:hover #widgetu23155_prompt,#widgetu23155.focus-st #widgetu23155_prompt,#widgetu23155.fld-err-st #widgetu23155_prompt,#widgetu23151:hover #widgetu23151_input,#widgetu23151.focus-st #widgetu23151_input,#widgetu23151.fld-err-st #widgetu23151_input,#widgetu23151:hover #widgetu23151_prompt,#widgetu23151.focus-st #widgetu23151_prompt,#widgetu23151.fld-err-st #widgetu23151_prompt,#widgetu23159:hover #widgetu23159_input,#widgetu23159.focus-st #widgetu23159_input,#widgetu23159.fld-err-st #widgetu23159_input,#widgetu23159:hover #widgetu23159_prompt,#widgetu23159.focus-st #widgetu23159_prompt,#widgetu23159.fld-err-st #widgetu23159_prompt,#widgetu23147:hover #widgetu23147_input,#widgetu23147.focus-st #widgetu23147_input,#widgetu23147.fld-err-st #widgetu23147_input,#widgetu23147:hover #widgetu23147_prompt,#widgetu23147.focus-st #widgetu23147_prompt,#widgetu23147.fld-err-st #widgetu23147_prompt,#widgetu23163:hover #widgetu23163_input,#widgetu23163.focus-st #widgetu23163_input,#widgetu23163.fld-err-st #widgetu23163_input,#widgetu23163:hover #widgetu23163_prompt,#widgetu23163.focus-st #widgetu23163_prompt,#widgetu23163.fld-err-st #widgetu23163_prompt,#widgetu23074:hover #widgetu23074_input,#widgetu23074.focus-st #widgetu23074_input,#widgetu23074.fld-err-st #widgetu23074_input,#widgetu23074:hover #widgetu23074_prompt,#widgetu23074.focus-st #widgetu23074_prompt,#widgetu23074.fld-err-st #widgetu23074_prompt,#widgetu23078:hover #widgetu23078_input,#widgetu23078.focus-st #widgetu23078_input,#widgetu23078.fld-err-st #widgetu23078_input,#widgetu23078:hover #widgetu23078_prompt,#widgetu23078.focus-st #widgetu23078_prompt,#widgetu23078.fld-err-st #widgetu23078_prompt,#widgetu23092:hover #widgetu23092_input,#widgetu23092.focus-st #widgetu23092_input,#widgetu23092.fld-err-st #widgetu23092_input,#widgetu23092:hover #widgetu23092_prompt,#widgetu23092.focus-st #widgetu23092_prompt,#widgetu23092.fld-err-st #widgetu23092_prompt,#widgetu23084:hover #widgetu23084_input,#widgetu23084.focus-st #widgetu23084_input,#widgetu23084.fld-err-st #widgetu23084_input,#widgetu23084:hover #widgetu23084_prompt,#widgetu23084.focus-st #widgetu23084_prompt,#widgetu23084.fld-err-st #widgetu23084_prompt,#widgetu23088:hover #widgetu23088_input,#widgetu23088.focus-st #widgetu23088_input,#widgetu23088.fld-err-st #widgetu23088_input,#widgetu23088:hover #widgetu23088_prompt,#widgetu23088.focus-st #widgetu23088_prompt,#widgetu23088.fld-err-st #widgetu23088_prompt
{
	padding-top: 9px;
	padding-bottom: 6px;
}

#u23098-4
{
	z-index: 255;
	width: 245px;
	min-height: 28px;
	top: -173px;
	margin-bottom: -28px;
}

#u23072-5
{
	z-index: 259;
	width: 245px;
	min-height: 28px;
	top: -92px;
	margin-bottom: -28px;
}

#u23099
{
	width: 48px;
	top: -477px;
	left: 59px;
}

#u23100-4
{
	z-index: 277;
	width: 48px;
	min-height: 40px;
	margin-right: -10000px;
}

#u23100-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#pu23048-4
{
	width: 0.01px;
	margin-left: 199px;
	margin-top: -35px;
}

#u23048-4
{
	z-index: 178;
	width: 82px;
	min-height: 18px;
	margin-right: -10000px;
}

#u23047-4
{
	z-index: 174;
	width: 71px;
	min-height: 18px;
	margin-right: -10000px;
	left: 96px;
}

#u23046-4
{
	z-index: 170;
	width: 74px;
	min-height: 18px;
	margin-right: -10000px;
	left: 184px;
}

#u23043
{
	z-index: 162;
	min-height: 23px;
	padding-bottom: 6px;
}

#u23045-6
{
	z-index: 164;
	width: 292px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 21px;
}

#u23043-bw
{
	z-index: 162;
	min-height: 23px;
	margin-top: 9px;
}

#u23044
{
	z-index: 163;
	min-height: 18px;
	padding-bottom: 12px;
}

#u23101-6
{
	z-index: 281;
	width: 200px;
	margin-right: -10000px;
	left: 559px;
}

#u23044-bw
{
	z-index: 163;
	min-height: 18px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

