.Titulo-grande
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title,.Paragraph-Style-1
{
	font-family: lato-n3, sans-serif;
}

.Paragraph-Style-2
{
	font-family: paytone-one-n4, sans-serif;
}

.mobile-title
{
	font-family: black-ops-one-n4, sans-serif;
}

.mobile-subtitle
{
	font-family: hammersmith-one-n4, sans-serif;
}

.Paragraph-Style,.mobile-text
{
	font-family: lato-n4, sans-serif;
}

#u7381-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u7405-6
{
	font-family: lato-n4, sans-serif;
}

#u17919-4,#u17918-4,#u17907-4,#u17917-4,#u17921-4,#u17916-4,#u17915-4,#u17969-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18695-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18708-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18688-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18702-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u18697-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17966-4:active p,#u17966-4
{
	font-family: lato-n3, sans-serif;
}

#u17917-2,#u17921-2,#u17916-2,#u17915-2,#u16507-6,#u16516-6,#u16521-6,#u16511-6
{
	font-family: lato-n4, sans-serif;
}

#u18715-3,#u18013-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u18713-4,#u18714-4,#u18004-4,#u18003-4
{
	font-family: cardo-n4, serif;
}

#u18002-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u17986-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17976-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17994-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17998-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17981-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu18692_input,#widgetu18692_prompt,#widgetu18706_input,#widgetu18706_prompt,#widgetu18686_input,#widgetu18686_prompt,#widgetu18701_input,#widgetu18701_prompt,#widgetu18696_input,#widgetu18696_prompt,#widgetu17984_input,#widgetu17984_prompt,#widgetu17975_input,#widgetu17975_prompt,#widgetu17991_input,#widgetu17991_prompt,#widgetu17995_input,#widgetu17995_prompt,#widgetu17980_input,#widgetu17980_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u18710-4,#u18711-5,#u18000-4,#u17999-5
{
	font-family: open-sans-n8, sans-serif;
}

#u18711-2,#u17999-2
{
	font-family: open-sans-n6, sans-serif;
}

#u18010-4:active p,#u18010-4
{
	font-family: lato-n3, sans-serif;
}

#u10928-6,#u10925-6
{
	font-family: lato-n3, sans-serif;
}

#u10925-2
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u10925-3
{
	font-family: josefin-slab-n3, serif;
}

#u17785-6,#u17795-6,#u17757-6,#u17811-6,#u17804-8
{
	font-family: bebas-neue-n4, sans-serif;
}

#u11170-4,#u17816-13,#u17827-21
{
	font-family: lato-n4, sans-serif;
}

#u11169-4,#u17831-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u17819-4
{
	font-family: lato-n3, sans-serif;
}

#u11297-2,#u11317-2,#u11334-2,#u11353-2
{
	font-family: dosis-n5, sans-serif;
}

#u11297-4,#u11317-4,#u11334-4,#u11353-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

#u11298-16,#u11316-15,#u11335-22,#u11352-18
{
	font-family: sorts-mill-goudy-i5, serif;
}

#u11168-6,#u17815-6,#u11229-6,#u17828-6,#u11234-6,#u19643-4,#u19646-4,#u19665-4,#u19673-4,#u19679-4,#u19687-6
{
	font-family: cardo-n4, serif;
}

#u19690-6
{
	font-family: cardo-n4, serif;
}

#u19691-4
{
	font-family: cardo-n4, serif;
}

#u19692-4
{
	font-family: cardo-n4, serif;
}

#u19693-6
{
	font-family: cardo-n4, serif;
}

#u19648-4,#u19647-4
{
	font-family: amatic-sc-n7, sans-serif;
}

#u19641-11,#u17862-4,#u17864-4
{
	font-family: cardo-n4, serif;
}

#u17863-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u11277-4,#u11279-4,#u17853-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17844-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17838-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17850-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#u17859-4
{
	font-family: hammersmith-one-n4, sans-serif;
}

#widgetu17851_input,#widgetu17851_prompt,#widgetu17842_input,#widgetu17842_prompt,#widgetu17836_input,#widgetu17836_prompt,#widgetu17847_input,#widgetu17847_prompt,#widgetu17856_input,#widgetu17856_prompt
{
	font-family: hammersmith-one, sans-serif;
}

#u17860-4,#u17834-5
{
	font-family: open-sans-n8, sans-serif;
}

#u17834-2
{
	font-family: open-sans-n6, sans-serif;
}

